.booking_summarypage {
    padding-bottom: 80px;
    .booking_status {
        display: flex;
        align-items: center;
        align-items: center;
        flex-direction: column;
        .confirmed_img {
            margin-top: 30px;
            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
            }
        }
        h2 {
            color: #021639;
            text-align: center;
            font-size: 30px;
            font-weight: 700;
            line-height: normal;
            margin-top: 20px;

            @media (max-width: 575.98px) {
                font-size: 28px;
            } 

        }
        p {
            color: #B0B0B0;
            text-align: center;
            font-size: 26px;
            font-weight: 400;
            line-height: normal;
            margin-top: 10px;
            @media (max-width: 575.98px) {
                font-size: 16px;
            } 
        }
        h4 {
            color: #B0B0B0;
            text-align: center;
            font-size: 26px;
            font-weight: 400;
            line-height: normal;
            margin-top: 10px;
            @media (max-width: 575.98px) {
                font-size: 18px;
            } 
            span {
                color: #000;
                font-size: 24px;
                font-weight: 500;
                line-height: normal;
                @media (max-width: 575.98px) {
                    font-size: 20px;
                } 
            }
        }
    }
    .booking_summaryDetails {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 41px;

        @media (max-width: 991.98px)  {
            flex-direction: column;
            align-items: center;
        }

        .booking_centerBox {
            border-radius: 10px;
            border: 0.5px solid #B0B0B0;
            padding: 24px;
            max-width: 647px;
            width: 100%;
            height: max-content;
            .item {
                margin-top: 27px;
              h2 {
                color: #021639;
                font-size: 26px;
                font-weight: 600;
                line-height: normal;
                @media (max-width: 575.98px)  {
                    font-size: 24px;
                }
              }
              p {
                color: #B0B0B0;
                font-size: 20px;
                font-weight: 400;
                line-height: normal;
                margin-top: 10px;

                @media (max-width: 575.98px)  {
                    font-size: 16px;
                }
              }
              h6 {
                color: #B0B0B0;
                font-size: 20px;
                font-weight: 400;
                line-height: normal;
                @media (max-width: 575.98px)  {
                    font-size: 16px;
                }
              }
            }
        }
        .bookeditem_details {
            border-radius: 10px;
            border: 0.5px solid #B0B0B0;
            background: #FFF;
            padding: 24px;
            border-radius: 10px;
            max-width: 650px;
            width: 100%;
             height: fit-content;

            h2 {
                color: #021639;
                font-size: 26px;
                font-weight: 600;
                line-height: normal;
            }
            .ordered_boxParent {

                .ordered_item {
                    padding-bottom: 30px;


                    
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 20px;
                    gap: 10px;

                    &:not(:last-child) {
                        border-bottom: 1px solid #B0B0B0;
                    }

                    @media (max-width: 575.98px) {
                        flex-direction: column;
                        align-items: start;
                    }

                    // @media (max-width: 1199.98px) {
                    //     flex-direction: column;
                    //     align-items: start;
                    //     gap: 15px;
                    // }

                    .about_product {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 28px;

                        @media (max-width: 1199.98px) {
                            flex-direction: column  ;
                            align-items: start;
                            gap: 10px;
                        }

                        .product_img {
                            img {
                                width: 61px;
                            }
                        }

                        .product_details {
                            h6 {
                                color: #000;
                                font-size: 20px;
                                font-weight: 500;
                                line-height: normal;
                            }
                            h5 {
                                color: #000;
                                margin-top: 4px;
                                font-size: 20px;
                                font-weight: 500;
                                line-height: normal;
                            }
                        }

                    }

                    .quality_box {
                        border-radius: 5px;
                        padding: 10px 14px;
                        border: 0.5px solid #B0B0B0;

                        @media (max-width: 575.98px) {
                            width: 150px;
                        }

                        h6 {
                            color: #B0B0B0;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: normal;

                            @media (max-width: 575.98px) {
                               text-align: center;
                            }

                            span {
                                color: #000;
                                font-weight: 500;
                            }
                        }
                    }
                    .price_box {
                        border-radius: 5px;
                        padding: 10px 14px;
                        border: 0.5px solid #B0B0B0;

                        @media (max-width: 575.98px) {
                            width: 150px;
                        }

                        h6 {
                            color: #B0B0B0;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: normal;

                            span {
                                color: #000;
                                font-weight: 700;
                            }
                        }
                    }
                }
                .total_amount{
                    color: #000;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: normal;
                    display: flex;
                    justify-content: end;
                    margin-top: 16px;

                    span {
                        font-size: 24px;
                        font-weight: 600;
                        margin-left: 20px;
                    }
                }
            }

        }

    }
}