.brand_detailspage {
    .banner_section {
        .container {
          max-width: 100%;
          padding: 0;
    
          @media (max-width: 575.98px) {
            padding: 0;
          }
          .bannerslide_parent {
            position: relative;
    
            .banner_row {
              @media (max-width: 1199.98px) {
                flex-direction: column;
              }
            }
    
            .banner_filterBox {
              border-radius: 16px;
              position: absolute;
              z-index: 9;
              top: 50%;
              transform: translateY(-50%);
              left: 3%;
              border: 1px solid #FFF;
              background: #FFF;
              max-width: 663px;
              width: 100%;
              padding: 24px;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
              @media (min-width: 1399.98px)  {
                left: 8% !important;
              
              }
    
              @media (max-width: 1199.98px) {
                top: 3rem;
                transform: unset;
                max-width: 515px;
              }
              @media (max-width: 768.98px)  {
                left: 0;
              }
              h2 {
                color: #000;
                font-size: 24px;
                font-weight: 700;
                line-height: normal;
                text-transform: unset !important;
                @media (max-width: 575.98px) {
                  font-size: 18px;
                }
              }
              .reg_boxParent {
                margin: 16px 0;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 37px;
    
                @media (max-width: 575.98px) {
                  gap: 25px;
                  flex-direction: column;
                }
         
                .reg_box {
                  border-radius: 8px;
                  border: 2px solid #000;
                  height: 60px;
                  background: #FFCD02;
                  max-width: 353px;
                  width: 100%;
                  display: flex;
                  gap: 12px;
    
                  @media (max-width: 575.98px) {
                    max-width: 100%;
                  }
    
                  .gb_blueBox {
                    display: flex;
                    width: 18px;
                    padding: 7.5px 2px 5.5px 3px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 6px;
                    border-radius: 6px 0px 0px 6px;
                    background: #2655DA;
                    .round_gb {
                      h6 {
                        color: #FFF;
                        font-size: 9px;
                        font-weight: 700;
                        line-height: 25px;
                        margin-top: 6px;
                      }
                    }
                  }
                  input {
                    background-color: transparent;
                    width: 100%;
                    border: none;
                    color: #000;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 25px; 
                    outline: none;
    
                    &::placeholder {  
                      color: #000;
                      font-size: 18px;
                      font-weight: 700;
                      line-height: 25px; 
                    }
                  }
                }
                .reg_searchBtn {
                  max-width: 225px;
                  width: 100%;
    
                  @media (max-width: 575.98px) {
                    max-width: 100%;
                  }
    
                  button {
                    color: #FFF;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25px; 
                    border-radius: 8px;
                    padding: 15px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $secondary;
                    border-radius: 8px;
                    border: none;
                    width: 100%;
                    @media (max-width: 575.98px) {
                      font-size: 16px;
                    }
                  }
                }
              }
              .fully_fittedRadio_switch {
                display: flex;
                align-items: center;
                gap: 40px;
    
                @media (max-width: 575.98px)  {
                  gap: 10px;
                }
    
                .radio_switch {
                  display: flex;
                  align-items: center;
                  gap: 6px;
                  input {
                    accent-color: #1f8961;
                    width: 20px;
                    height: 20px;
    
                    @media (max-width: 575.98px)  {
                      width: 15px;
                      height: 15px;
                    }
    
                  }
                  label {
                    color: #000;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: normal;
                    @media (max-width: 575.98px)  {
                      font-size: 13px;
                    }
                  }
                }
                &.mt_19 {
                  margin-top: 19px;
                }
              }
              .or {
                text-align: center;
                position: relative;
                margin-bottom: 9px;
    
                @media (max-width: 575.98px) {
                  margin-top: 9px;
                }
    
                &::after {
                  content: "";
                  position: absolute;
                  background-color: #B0B0B0;
                  height: .5px;
                  width: 100%;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  margin-bottom: 10px;
                }
                span {
                  color: #000;
                  font-size: 20px;
                  font-weight: 700;
                  padding: 0 20px;
                  line-height: 25px;
                   position: relative;
                   z-index: 9;
                  
                  background-color: white;
                }
              }
              .tyre_sizes {
                display: flex;
                gap: 5px;
                align-items: center;
                margin-top: 19px;
    
                @media (max-width: 991.98px) {
                  flex-wrap: wrap;
                }
    
                .nice-select {
                  width: calc(100% / 4 - 5px);
                  border-radius: 8px;
                  border: 0.5px solid #B0B0B0;
                  background: #FFF;
                  height: 60px;
                  display: flex;
                  align-items: center;
                  padding-left: 10px;
    
                  @media (max-width: 991.98px)  {
                    width: calc(100% / 2 - 18px);
                  }
    
                  @media (max-width: 575.98px)  {
                    height: 40px;
                  }
    
                  .list {
                    width: 100%;
                    height: 210px;
                    overflow-y: auto;
                  }
    
                  .current {
                    color: #000;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 25px; 
    
                    @media (max-width: 575.98px)  {
                      font-size: 14px;
                    }
                  }
                  &:after {
                    border-bottom: 2px solid #000;
                    border-right: 2px solid #000;
                    width: 9px;
                    height: 9px;
                    margin-top: -6px;
                  }
                }
              }
              .continue_btn {
                width: 100%;
                margin-top: 19px;
                button {
                  color: #FFF;
                  font-size: 20px;
                  font-weight: 700;
                  line-height: 25px; 
                  border-radius: 8px;
                  padding: 15px;
                  height: 60px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: $secondary;
                  border-radius: 8px;
                  border: none;
                  width: 100%;
                  @media (max-width: 575.98px) {
                    font-size: 16px;
                  }
                }
              }
            }
            .banner_slider {
              .mrf_banner {
                background-image: url(../images/mrf_banner.png);
                background-repeat: no-repeat;
                padding: 50px 120px 50px 120px;
                display: flex;
                gap: 35px;
                height: 676px;
                background-size: cover;
                display: flex;
                justify-content: center;
    
                @media (max-width: 1199.98px) {
                  height: auto !important;
                }
    
               
      
                @media (max-width: 575.98px) {
                  padding: 16px;
                }
      
                @media (max-width: 1199.98px) {
                  flex-direction: column;
                  padding-bottom: 80px;
                  background-size: cover;
                }
    
              
            
      
            
                .about_mrf_tyres {
                padding-left: 18rem;
    
                @media (max-width: 1199.98px)  {
                  padding-left: 48rem;
    
                }
                @media (max-width: 991.98px) {
                  padding-left: 0;
                  
                }
    
                @media (max-width: 991.98px) {
                  padding-top: 58rem;
                }
    
                @media (max-width: 768.98px) {
                  padding-top: 62rem;
                }
    
                @media (max-width: 575.98px) {
                  padding-top: 77rem;
                }
    
    
                  .mrf_logo {
                    @media (max-width: 575.98px)  {
                      width: 150px;
                    }
                    img {
                      @media (max-width: 575.98px) {
                        width: 100%;
                      }
                    }
                  }
                  h2 {
                    color: #FFF;
                    font-size: 60px;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 34px;
                    @media (max-width: 1199.98px)  {
                      font-size: 45px;
                      
                    }
                    @media (max-width: 991.98px)  {
                      font-size: 40px;
                    }
                    @media (max-width: 575.98px) {
                      font-size: 25px;
                    }
                  }
                  .know_moreBtn {
                    height: 60px;
                    max-width: 222px;
                    width: 100%;
                    margin-top: 14px;
                    @media (max-width: 991.98px)  {
                      max-width: 180px;
                      height: 50px;
                    }
                    button {
                      color: #FFF;
                      font-size: 20px;
                      width: 100%;
                      border: none;
                      font-weight: 700;
                      line-height: 25px; 
                      border-radius: 8px;
                      height: 60px;
                      background: #C13128;
                      display: flex;
                      align-items: center;
                      justify-content: center;
      
                      @media (max-width: 991.98px)  {
                        height: 50px;
                      }
                    }
                  }
                }
           
                   
              }
              .mrf_banner2 {
                background-image: url(../images/banner2.png);
                background-repeat: no-repeat;
                padding: 50px 120px 0 120px;
                display: flex;
                gap: 35px;
                height: 676px;  
                background-size: cover;
                display: flex;
                justify-content: center;
    
                @media (max-width: 1199.98px) {
                  height: auto !important;
                }
    
    
               
      
                @media (max-width: 575.98px) {
                  padding: 16px;
                }
      
                @media (max-width: 1199.98px) {
                  flex-direction: column;
                  padding-bottom: 80px;
                  background-size: cover;
                }
    
    
                .banner_tyrespecs {
                  min-height: 536px;
                  display: flex;
                  align-items: center;
                  justify-content: end;
                  height: 100%;
    
                  @media (max-width: 1399.98px)  {
                    justify-content: end;
                    padding-left: 0;
                    
                  }
    
                  @media (max-width: 991.98px) {
                    padding-left: 0;
                    padding-top: 74rem;
                    justify-content: center;
                    
                  }
    
                  @media (max-width: 575.98px) {
                    padding-top: 95rem;
                  }
    
                 
    
    
                    .tyre_img {
                      position: relative;
                      img {
                        max-width: 350px;
                        width: 100%;
                        object-fit: contain;
                        object-position: bottom;
    
                        @media (max-width: 1399.98px)  {
                          max-width: 285px;
                        }
                      }
                      span {
                        color: #FFF;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: normal;
                        position: absolute;
                        left: 0;
                      }
                    }
                }
    
                .banner_row {
                  width: 100%;
                }
    
              
            
      
            
                .about_mrf_tyres {
                padding-left: 18rem;
                @media (max-width: 1299.98px) {
                  padding-left: 0;
                  justify-content: end;
                  // padding-top: 68rem;
                  // justify-content: center;
                  
                }
    
                @media (max-width: 991.98px) {
                  padding-top: 58rem;
                }
    
                @media (max-width: 768.98px) {
                  padding-top: 62rem;
                }
    
                @media (max-width: 575.98px) {
                  padding-top: 77rem;
                }
    
    
                  .mrf_logo {
                    @media (max-width: 575.98px)  {
                      width: 150px;
                    }
                    img {
                      @media (max-width: 575.98px) {
                        width: 100%;
                      }
                    }
                  }
                  h2 {
                    color: #FFF;
                    font-size: 60px;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 34px;
                    @media (max-width: 991.98px)  {
                      font-size: 40px;
                    }
                    @media (max-width: 575.98px) {
                      font-size: 25px;
                    }
                  }
                  .know_moreBtn {
                    height: 60px;
                    max-width: 222px;
                    width: 100%;
                    margin-top: 14px;
                    @media (max-width: 991.98px)  {
                      max-width: 180px;
                      height: 50px;
                    }
                    button {
                      color: #FFF;
                      font-size: 20px;
                      width: 100%;
                      border: none;
                      font-weight: 700;
                      line-height: 25px; 
                      border-radius: 8px;
                      height: 60px;
                      background: #C13128;
                      display: flex;
                      align-items: center;
                      justify-content: center;
      
                      @media (max-width: 991.98px)  {
                        height: 50px;
                      }
                    }
                  }
                }
              }
            }
            .good_yearbannr {
              background-color: #2655DA;
              padding: 50px 120px 50px 120px;
              height: 676px;
    
              @media (max-width: 991.98px) {
                height: 1100px;
                padding: 100px 20px 50px 0;
              }
    
              .good_year_contents {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
    
    
                @media (max-width: 991.98px) {
                  padding-top: 70rem;
                  right: unset;
                  left: 30px;
                }
    
              
    
                .good_yearcontents {
                  position: absolute;
                  top: 160px;
                  left: 0;
    
                  @media (max-width: 991.98px)  {
                    top: 90rem;
                  }
                }
    
                h3 {
                  font-weight: 500;
                  max-width: 464px;
                  width: 100%;
                  font-size: 35px;
                  line-height: 50px;
                  font-weight: 500;
                  max-width: 410px;
    
                  span {
                    color: #FFDD00;
                  }
                }
    
                button {
                  max-width: 203px;
                  width: 100%;
                  height: 60px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 8px;
                  background-color: #FFDD00;
                  font-size: 25px;
                  font-weight: 700;
                  color: #004990  ;
                  margin-top: 50px;
                  border: none;
                }
              }
    
            }
            .step_banner {
             
              img {
                width: 100%;
                height: 676px;
    
                @media (max-width: 1199.98px) {
                  object-fit: cover;
                  object-position: right  ;
                }
              }
            }
          }
          // .experice_ulParent{
    
          // }
    
        }
    
            @media (max-width: 991.98px)  {
                  .swiper-button-prev {
          display: none;
    
          
        }
    
        .swiper-button-next {
          display: none;
        }
            }
    
    
    
    
        .swiper-button-prev:after {
          color: white;
          font-size: 25px;
    
          
        }
    
        .swiper-button-next:after {
          color: white;
          font-size: 25px;
        }
    
    
      }
    .popular_tyreDetails {
        background-image: url(../images/popular_banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 95px 0;

        .popular_head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 767.98px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .popular_heaing {
                max-width: 639px;
                width: 100%;

                @media (max-width: 767.98px) {
                    max-width: 100%;
                }
                h2 {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 40px;
                    color: white;
                }
                p {
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    font-weight: 400;
                    margin-top: 5px;
                    color: white;
                }
            }

        }

        .popular_body {
            margin-top: 90px;
            h2 {
                font-size: 40px;
                line-height: 50px;
                font-weight: 600;
                color: #ffff;
                position: relative;
                text-align: center;

                span {
                    color: #30D094;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    background-color: #30D094;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100px;
                    height: 6px;
                }
            }

            .popular_tyreList {
                display: flex;
                justify-content: center;
                margin-top: 34px;
                align-items: center;
                gap: 2.4rem;
                flex-wrap: wrap;

                li {
                    background-color: #FFFFFF;
                    border-radius: 8px;
                    padding: 14px;
                    border-top: 4px solid #30D094;
                    width: calc(100% / 4 - 24px);

                    @media (max-width: 1199.98px) {
                        width: calc(100% / 2 - 24px);
                    }

                    @media (max-width: 575.98px) {
                        width: 100%;
                    }

                    h4 {
                        font-size: 22px;
                        line-height: 33px;
                        font-weight: 700;
                        color: #021639;
                        text-align: center;
                    }

                    .popular_tyre {
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
                    }

                    p {
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: 400;
                        color: #021639;
                        padding: 19px 0 10px 0;
                    }

                    h5 {
                        font-size: 18px;
                        line-height: 27px;
                        font-weight: 600;
                        color: black;
                        padding-top: 10px;
                    }

                    h6 {
                        font-size: 26px;
                        line-height: 36px;
                        font-weight: 700;
                        color: black;
                        margin-top: 5px;
                    }

                    .select_boxes {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 14px;

                        .nice-select {
                            min-width: 72px;
                            width: 100%;
                        }

                        button {
                            font-size: 20px;
                            line-height: 25px;
                            font-weight: 700;
                            color: #FFFFFF;
                            padding: 10px 27px;
                            border-radius: 8px;
                            background-color: #30D094;
                            border: none;
                        }
                    }

                }
            }
        }
    }

    .show_alltyres {
        background-color: #021639;
        padding: 40px 0;

        .logo {
            display: flex;
            justify-content: center;
        }

        p {
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            color: #B0B0B0;
            margin-top: 40px;
            text-align: center;
        }

        .all_tyreWrapper {
            margin-top: 40px;
            h2 {
                font-size: 40px;
                line-height: 50px;
                font-weight: 600;
                text-align: center;
                color: #FFFFFF;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    background-color: #30D094;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100px;
                    height: 6px;
                }
            }
            .all_tyreUl {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 26px;
                flex-wrap: wrap;
                margin-top: 50px;

                li {
                    width: calc(100% / 4 - 26px);
                    padding: 14px;
                    border-radius: 10px;
                    background-color: white;
                    box-shadow: 0px 0px 30px 0px #00000029;

                    @media (max-width: 1199.98px) {
                        width: calc(100% / 3 - 26px);
                    }

                    @media (max-width: 991.98px) {
                        width: calc(100% / 2 - 26px);
                    }

                    @media (max-width: 578.98px) {
                        width: 100%;
                    }


                    .tyre_imgDetails {
                        display: flex;
                        justify-content: start;
                        align-items: start;
                        gap: 16px;

                        .tyre_img {
                           img {
                            max-width: 103px;
                            width: 100%;
                           }
                        }

                        .tyreDetails {
                            .logo {
                                img {
                                    max-width: 155px;
                                    width: 100%;
                                }
                            }
                            h3 {
                                font-size: 20px;
                                line-height: 30px;
                                font-weight: 700;
                                color: #021639;
                                margin-top: 15px;
                            }

                            h6 {
                                font-size: 14px;
                                line-height: 22px;
                                font-weight: 500;
                                color: #000000;
                                margin-top: 4px;
                            }

                            h5 {
                                font-size: 16px;
                                line-height: 24px;
                                color: #000000;
                                font-weight: 700;
                            }

                        }

                    }

                    p {
                        color: #021639;
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: 400;
                        margin-top: 10px;
                        text-align: start;
                    }

                    .select_boxes {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 14px;
                        margin-top: 15px;

                        .nice-select {
                            min-width: 72px;
                            width: 100%;

                            .list {
                                width: 100%;
                            }
                        }

                        button {
                            font-size: 20px;
                            line-height: 25px;
                            font-weight: 700;
                            color: #FFFFFF;
                            padding: 10px 27px;
                            border-radius: 8px;
                            background-color: #30D094;
                            border: none;
                        }
                    }

                }
            }
        }

        .pagination {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                li {
                    font-size: 16px;
                    line-height: 25px;
                    cursor: pointer;
                    color: #30D094;
                    font-weight: 500;
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #30D094;
                }

            }
        }

    }
}