.banner_section {
    .container {
      max-width: 100%;
      padding: 0;

      @media (max-width: 575.98px) {
        padding: 0;
      }
      .bannerslide_parent {
        position: relative;

        .banner_row {
          @media (max-width: 1199.98px) {
            flex-direction: column;
          }
        }

        .banner_filterBox {
          border-radius: 16px;
          position: absolute;
          z-index: 9;
          top: 50%;
          transform: translateY(-50%);
          left: 3%;
          border: 1px solid #FFF;
          background: #FFF;
          max-width: 663px;
          width: 100%;
          padding: 24px;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

          @media (min-width: 1399.98px)  {
            left: 8% !important;
          
          }

          @media (max-width: 1199.98px) {
            top: 3rem;
            transform: unset;
            max-width: 515px;
          }
          @media (max-width: 768.98px)  {
            left: 0;
          }
          h2 {
            color: #000;
            font-size: 24px;
            font-weight: 700;
            line-height: normal;
            text-transform: unset !important;
            @media (max-width: 575.98px) {
              font-size: 18px;
            }
          }
          .reg_boxParent {
            margin: 16px 0;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 37px;

            @media (max-width: 575.98px) {
              gap: 25px;
              flex-direction: column;
            }
     
            .reg_box {
              border-radius: 8px;
              border: 2px solid #000;
              height: 60px;
              background: #FFCD02;
              max-width: 353px;
              width: 100%;
              display: flex;
              gap: 12px;

              @media (max-width: 575.98px) {
                max-width: 100%;
              }

              .gb_blueBox {
                display: flex;
                width: 18px;
                padding: 7.5px 2px 5.5px 3px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 6px;
                border-radius: 6px 0px 0px 6px;
                background: #2655DA;
                .round_gb {
                  h6 {
                    color: #FFF;
                    font-size: 9px;
                    font-weight: 700;
                    line-height: 25px;
                    margin-top: 6px;
                  }
                }
              }
              input {
                background-color: transparent;
                width: 100%;
                border: none;
                color: #000;
                font-size: 18px;
                font-weight: 700;
                line-height: 25px; 
                outline: none;

                &::placeholder {  
                  color: #000;
                  font-size: 18px;
                  font-weight: 700;
                  line-height: 25px; 
                }
              }
            }
            .reg_searchBtn {
              max-width: 225px;
              width: 100%;

              @media (max-width: 575.98px) {
                max-width: 100%;
              }

              button {
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                line-height: 25px; 
                border-radius: 8px;
                padding: 15px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $secondary;
                border-radius: 8px;
                border: none;
                width: 100%;
                @media (max-width: 575.98px) {
                  font-size: 16px;
                }
              }
            }
          }
          .fully_fittedRadio_switch {
            display: flex;
            align-items: center;
            gap: 40px;

            @media (max-width: 575.98px)  {
              gap: 10px;
            }

            .radio_switch {
              display: flex;
              align-items: center;
              gap: 6px;
              input {
                accent-color: #1f8961;
                width: 20px;
                height: 20px;

                @media (max-width: 575.98px)  {
                  width: 15px;
                  height: 15px;
                }

              }
              label {
                color: #000;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                @media (max-width: 575.98px)  {
                  font-size: 13px;
                }
              }
            }
            &.mt_19 {
              margin-top: 19px;
            }
          }
          .or {
            text-align: center;
            position: relative;
            margin-bottom: 9px;

            @media (max-width: 575.98px) {
              margin-top: 9px;
            }

            &::after {
              content: "";
              position: absolute;
              background-color: #B0B0B0;
              height: .5px;
              width: 100%;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              margin-bottom: 10px;
            }
            span {
              color: #000;
              font-size: 20px;
              font-weight: 700;
              padding: 0 20px;
              line-height: 25px;
               position: relative;
               z-index: 9;
              
              background-color: white;
            }
          }
          .tyre_sizes {
            display: flex;
            gap: 5px;
            align-items: center;
            margin-top: 19px;

            @media (max-width: 991.98px) {
              flex-wrap: wrap;
            }

            .nice-select {
              width: calc(100% / 4 - 5px);
              border-radius: 8px;
              border: 0.5px solid #B0B0B0;
              background: #FFF;
              height: 60px;
              display: flex;
              align-items: center;
              padding-left: 10px;

              @media (max-width: 991.98px)  {
                width: calc(100% / 2 - 18px);
              }

              @media (max-width: 575.98px)  {
                height: 40px;
              }

              .list {
                width: 100%;
                height: 210px;
                overflow-y: auto;
              }

              .current {
                color: #000;
                font-size: 14px;
                font-weight: 500;
                line-height: 25px; 

                @media (max-width: 575.98px)  {
                  font-size: 14px;
                }
              }
              &:after {
                border-bottom: 2px solid #000;
                border-right: 2px solid #000;
                width: 9px;
                height: 9px;
                margin-top: -6px;
              }
            }
          }
          .continue_btn {
            width: 100%;
            margin-top: 19px;
            button {
              color: #FFF;
              font-size: 20px;
              font-weight: 700;
              line-height: 25px; 
              border-radius: 8px;
              padding: 15px;
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $secondary;
              border-radius: 8px;
              border: none;
              width: 100%;
              @media (max-width: 575.98px) {
                font-size: 16px;
              }
            }
          }
        }
        .banner_slider {
          .mrf_banner {
            background-image: url(../images/mrf_banner.png);
            background-repeat: no-repeat;
            padding: 50px 120px 50px 120px;
            display: flex;
            gap: 35px;
            height: 676px;
            background-size: cover;
            display: flex;
            justify-content: center;

            @media (max-width: 1199.98px) {
              height: auto !important;
            }

           
  
            @media (max-width: 575.98px) {
              padding: 16px;
            }
  
            @media (max-width: 1199.98px) {
              flex-direction: column;
              padding-bottom: 80px;
              background-size: cover;
            }

          
        
  
        
            .about_mrf_tyres {
            padding-left: 18rem;

            @media (max-width: 1199.98px)  {
              padding-left: 48rem;

            }
            @media (max-width: 991.98px) {
              padding-left: 0;
              
            }

            @media (max-width: 991.98px) {
              padding-top: 58rem;
            }

            @media (max-width: 768.98px) {
              padding-top: 62rem;
            }

            @media (max-width: 575.98px) {
              padding-top: 77rem;
            }


              .mrf_logo {
                @media (max-width: 575.98px)  {
                  width: 150px;
                }
                img {
                  @media (max-width: 575.98px) {
                    width: 100%;
                  }
                }
              }
              h2 {
                color: #FFF;
                font-size: 60px;
                font-weight: 700;
                line-height: normal;
                margin-top: 34px;
                @media (max-width: 1199.98px)  {
                  font-size: 45px;
                  
                }
                @media (max-width: 991.98px)  {
                  font-size: 40px;
                }
                @media (max-width: 575.98px) {
                  font-size: 25px;
                }
              }
              .know_moreBtn {
                height: 60px;
                max-width: 222px;
                width: 100%;
                margin-top: 14px;
                @media (max-width: 991.98px)  {
                  max-width: 180px;
                  height: 50px;
                }
                button {
                  color: #FFF;
                  font-size: 20px;
                  width: 100%;
                  border: none;
                  font-weight: 700;
                  line-height: 25px; 
                  border-radius: 8px;
                  height: 60px;
                  background: #C13128;
                  display: flex;
                  align-items: center;
                  justify-content: center;
  
                  @media (max-width: 991.98px)  {
                    height: 50px;
                  }
                }
              }
            }
       
               
          }
          .mrf_banner2 {
            background-image: url(../images/banner2.png);
            background-repeat: no-repeat;
            padding: 50px 120px 0 120px;
            display: flex;
            gap: 35px;
            height: 676px;  
            background-size: cover;
            display: flex;
            justify-content: center;

            @media (max-width: 1199.98px) {
              height: auto !important;
            }


           
  
            @media (max-width: 575.98px) {
              padding: 16px;
            }
  
            @media (max-width: 1199.98px) {
              flex-direction: column;
              padding-bottom: 80px;
              background-size: cover;
            }


            .banner_tyrespecs {
              min-height: 536px;
              display: flex;
              align-items: center;
              justify-content: end;
              height: 100%;

              @media (max-width: 1399.98px)  {
                justify-content: end;
                padding-left: 0;
                
              }

              @media (max-width: 991.98px) {
                padding-left: 0;
                padding-top: 74rem;
                justify-content: center;
                
              }

              @media (max-width: 575.98px) {
                padding-top: 95rem;
              }

             


                .tyre_img {
                  position: relative;
                  img {
                    max-width: 350px;
                    width: 100%;
                    object-fit: contain;
                    object-position: bottom;

                    @media (max-width: 1399.98px)  {
                      max-width: 285px;
                    }
                  }
                  span {
                    color: #FFF;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: normal;
                    position: absolute;
                    left: 0;
                  }
                }
            }

            .banner_row {
              width: 100%;
            }

          
        
  
        
            .about_mrf_tyres {
            padding-left: 18rem;
            @media (max-width: 1299.98px) {
              padding-left: 0;
              justify-content: end;
              // padding-top: 68rem;
              // justify-content: center;
              
            }

            @media (max-width: 991.98px) {
              padding-top: 58rem;
            }

            @media (max-width: 768.98px) {
              padding-top: 62rem;
            }

            @media (max-width: 575.98px) {
              padding-top: 77rem;
            }


              .mrf_logo {
                @media (max-width: 575.98px)  {
                  width: 150px;
                }
                img {
                  @media (max-width: 575.98px) {
                    width: 100%;
                  }
                }
              }
              h2 {
                color: #FFF;
                font-size: 60px;
                font-weight: 700;
                line-height: normal;
                margin-top: 34px;
                @media (max-width: 991.98px)  {
                  font-size: 40px;
                }
                @media (max-width: 575.98px) {
                  font-size: 25px;
                }
              }
              .know_moreBtn {
                height: 60px;
                max-width: 222px;
                width: 100%;
                margin-top: 14px;
                @media (max-width: 991.98px)  {
                  max-width: 180px;
                  height: 50px;
                }
                button {
                  color: #FFF;
                  font-size: 20px;
                  width: 100%;
                  border: none;
                  font-weight: 700;
                  line-height: 25px; 
                  border-radius: 8px;
                  height: 60px;
                  background: #C13128;
                  display: flex;
                  align-items: center;
                  justify-content: center;
  
                  @media (max-width: 991.98px)  {
                    height: 50px;
                  }
                }
              }
            }
          }
        }
        .good_yearbannr {
          background-color: #2655DA;
          padding: 50px 120px 50px 120px;
          height: 676px;

          @media (max-width: 991.98px) {
            height: 1100px;
            padding: 100px 20px 50px 0;
          }

          .good_year_contents {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;


            @media (max-width: 991.98px) {
              padding-top: 70rem;
              right: unset;
              left: 30px;
            }

          

            .good_yearcontents {
              position: absolute;
              top: 160px;
              left: 0;

              @media (max-width: 991.98px)  {
                top: 90rem;
              }
            }

            h3 {
              font-weight: 500;
              max-width: 464px;
              width: 100%;
              font-size: 35px;
              line-height: 50px;
              font-weight: 500;
              max-width: 410px;

              span {
                color: #FFDD00;
              }
            }

            button {
              max-width: 203px;
              width: 100%;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 8px;
              background-color: #FFDD00;
              font-size: 25px;
              font-weight: 700;
              color: #004990  ;
              margin-top: 50px;
              border: none;
            }
          }

        }
        .step_banner {
         
          img {
            width: 100%;
            height: 676px;

            @media (max-width: 1199.98px) {
              object-fit: cover;
              object-position: right  ;
            }
          }
        }
      }
      // .experice_ulParent{

      // }

    }

        @media (max-width: 991.98px)  {
              .swiper-button-prev {
      display: none;

      
    }

    .swiper-button-next {
      display: none;
    }
        }




    .swiper-button-prev:after {
      color: white;
      font-size: 25px;

      
    }

    .swiper-button-next:after {
      color: white;
      font-size: 25px;
    }


  }

.bestSelling_wrapper {
    background-color: #021639;
    padding: 100px 0;

    .best_selling_parent {
        display: flex;
        justify-content: start;
        gap: 100px;
        align-items: center;

        @media (max-width: 1399.98px) {
            gap: 50px;
        }

        @media (max-width: 991.98px) {
            flex-direction: column;
            gap: 30px;
        }
    
    
        .bestselling_contents {
            width: 450px;
            @media (max-width: 991.98px) {
                width: 100%;
            }
            p {
                color: #B0B0B0;
                font-size: 1.6rem;
                line-height: 2.4rem;
                font-weight: $regular;
            }
    
            h2 {
                font-size: 40px;
                font-weight: 600;
                line-height: 50px;
                color: #30D094;
                position: relative;
    
                &:before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    background-color: #30D094;
                    left: 0;
                    width: 100px;
                    height: 6px;
                }
            }
        }
        .bestSelling_swiperWrapper {
            width: calc(100% - 550px);
            position: relative;

            @media (max-width: 1399.98px) {
                margin-right: 50px !important;
            }

            @media (max-width: 991.98px) {
                width: 100%;
                margin-right: 0 !important;
            }
    
            .Bestselling_swiper {
                width: 100%;
                .swiper-slide {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 100%;
                    }
                }
            }

            .swiper-button-next {
                right: -80px !important;

                @media (max-width: 1399.98px) {
                    right: -60px !important;
                }

                @media (max-width: 991.98px) {
                    right: 0 !important;
                }

                &:after {
                  background-image: url(../images/icons/brand_next.png);
                  content: "";
                  width: 52px;
                  position: absolute;
                  right: 0;
                  height: 52px;
                  background-repeat: no-repeat;
                }
              }
              .swiper-button-prev {
                left: -80px !important;
                @media (max-width: 1399.98px) {
                    left: -60px !important;
                }
                @media (max-width: 991.98px) {
                    left: 0 !important;
                }
                &:after {
                  background-image: url(../images/icons/brand_prev.png);
                  background-repeat: no-repeat;
                  content: "";
                  width: 52px;
                  position: absolute;
                  left: 0;
                  height: 52px;
                  background-repeat: no-repeat;
                }
              }
    
        }
    }
}    

.brands_Listing {
    background-image: url(../images/brandsbanner.png);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    padding: 6.4rem 0;
    height: 100%;

    .brands_listwrapper {
        h2 {
            font-size: 40px;
            line-height: 50px;
            font-weight: 600;
            color: #30D094;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: -10px;
                background-color: #30D094;
                left: 0;
                width: 100px;
                height: 6px;
            }
        }
        p {
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            color: white;
            margin-top: 10px;
        }

        ul {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            margin-top: 40px;

            li {
                box-shadow: 0px 0px 30px 0px #00000029;
                padding: 14px;
                border-radius: 8px;
                background-color: white;
                width: calc(100% / 4 - 20px);

                @media (max-width: 1199.98px) {
                    width: calc(100% / 3 - 20px);
                }

                @media (max-width: 991.98px) {
                    width: calc(100% / 2 - 20px);
                }

                @media (max-width: 575.98px) {
                    width: 100%;
                }

                .logo {
                    display: flex;
                    justify-content: center;
                }

                h3 {
                    font-size: 20px;
                    line-height: 30px;
                    color: #021639;
                    font-weight: 700;
                    margin-top: 10px;
                }

                p {
                    font-size: 1.2rem;
                    line-height: 2.2rem;
                    font-weight: 400;
                    margin-top: 5px;
                    color: #021639;
                    margin-top: 10px;
                }

                a {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    font-weight: 600;
                    color: #FFFFFF;
                    background-color: #30D094;
                    border-radius: 8px;
                    padding: 10px;
                    width: 100%;
                    display: flex;
                    gap: 4px;
                    height: 32px;
                    margin-top: 10px;
                    align-items: center;
                    justify-content: center;
                }

            }
        }
    }
}


