.contact_page {
    padding-top: 60px;
    .contact_details {
        h2 {
            color: #021639;
            font-size: 40px;
            font-weight: 600;
            line-height: normal;
            span {
                color: #30D094;
            }
        }
        p {
            color: #B0B0B0;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
            margin-top: 10px;
        }
        .contact_form_address {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            gap: 60px;

            @media (max-width: 991.98px) {
                flex-direction: column;
            }

            .contact_address {
                max-width: 400px;
                width: 100%;
                .location {
                    display: flex;
                    gap: 20px;
                    justify-content: start;
                    &:not(:last-child) {
                        margin-bottom: 27px;
                    }
                    .location_img {
                        width: 40px;
                        height: 40px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .location_name {
                        @media (max-width: 575.98px) {
                            width: calc(100% - 60px);
                        }
                        h3 {
                            color: #021639;
                            font-size: 26px;
                            font-weight: 600;
                            line-height: normal;
                        }
                        p {
                            color: #AEAEAE;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: normal;
                            margin-top: 10px;
                        }
                        a {
                            color: #AEAEAE;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: normal;
                            margin-top: 10px;
                            @media (max-width: 575.98px) {
                                word-break: break-all;
                            }
                        }
                    }
                }
            }
            .contact_form {
                max-width: 642px;
                width: 100%;
                form {
                    .input_parent {
                        width: 100%;
                        input {
                            height: 50px;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            margin-bottom: 24px;
                            padding: 10px 20px;
                            border-radius: 5px;
                            border: 1px solid #B0B0B0;
                            color: #B0B0B0;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: normal;
                            &::placeholder {
                                color: #B0B0B0;
                                font-size: 18px;
                                font-weight: 400;
                            }
                            &:focus-visible {
                                outline: none;
                            }
                        }
                        textarea {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            margin-bottom: 24px;
                            padding: 10px 20px;
                            border-radius: 5px;
                            border: 1px solid #B0B0B0;
                            color: #B0B0B0;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: normal;
                            &::placeholder {
                                color: #B0B0B0;
                                font-size: 18px;
                                font-weight: 400;
                            }
                            &:focus-visible {
                                outline: none;
                            }
                        }
                    }
                    .input_btn {
                        width: 100%;
                        button {
                            height: 60px;
                            display: flex;
                            border-radius: 5px;
                            background: #30D094;
                            color: #FFF;
                            font-size: 20px;
                            font-weight: 400;
                            justify-content: center;
                            border: none;
                            line-height: normal;
                            width: 100%;
                            align-items: center;
padding: 10px 20px;
                        }
                    }
                }
            }
        }
        
    }
    .contactwith_us{
        margin-top: 88px;
        padding: 22.5px;
        background: #F4F4F4;
        h4 {
            color: #30D094;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            line-height: normal;
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            gap: 14px;
            li {
                a {
                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}