/** Color Pallet **/

$primary: #021639;
$secondary: #30D094;
$banner: #fce4c8;
$scrollbarfill: #dfb260;
$footer: #fff9ed;
$buttonfill: #dfb260;
$swiperdots: #ffe8c5;
$paragraph: #505050;
$darkblack: #0f0f0f;
$blue: #3b93c9;
$borders: #d6a54c;
$menu:#FFF8EC;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  trixl: 1600px,
  quadxl: 1800px,
);

/** Font Weight **/

$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
