.fitting_centers {
    padding-bottom: 93px;
    .fitting_centerResults {
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        @media (max-width: 767.98px) {
            flex-direction: column;
            gap: 14px;
        }

        .results {
            color: #000;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
        }
        .search_fields {
            display: flex;
            gap: 20px;
            align-items: center;

            @media (max-width: 575.98px) {
                flex-direction: column;
            }

            .input_parent {
                width: 166px;
                @media (max-width: 575.98px) {
                    width: 100%;
                }

                input {
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: 0.5px solid #B0B0B0;
                    color: #B0B0B0;
                    font-size: 18px;
                    font-weight: 400;
                    width: 100%;
                    line-height: normal;
                    height: 50px;
                    display: flex;
                    align-items: center;
                }
            }
            .go {
                border-radius: 5px;
                background: #30D094;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                color: #FFF;
                font-size: 20px;
                font-weight: 400;
                width: 166px;
                border: none;
                line-height: normal;

                @media (max-width: 575.98px) {
                    width: 100%;
                }
            }
        }
    }
    .service_centers {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 60px;
        li {
            width: calc(100% / 3 - 20px);
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);

            @media (max-width: 991.98px) {
                width: calc(100% / 2 - 20px);
            }

            @media (max-width: 575.98px) {
                width: 100%;
            }

            a {
                .service_centerImg {
                    img {
                        width: 100%;
                        height: 150px;
                        object-fit: cover;
                    }
                }
                .service_details {
                    padding: 14px;

                    .location {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        @media (max-width: 1199.98px) {
                            flex-direction: column;
                            gap: 14px;
                        }


                        h2 {
                            color: #000;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: normal;
                        }

                        button {
                            padding: 4.5px 10px;
                            color: #30D094;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: normal;
                            border-radius: 5px;
                            border: 1px solid #30D094;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: white ;
                        }

                    }

                    p {
                        color: #B0B0B0;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-top: 10px;
                    }

                    .distance {
                        margin-top: 14px;
                        display: flex;
                        justify-content: start;
                        gap: 10px;
                        align-items: center;
                        img {
                            width: 24px;
                            height: 24px;
                            object-fit: contain;
                        }
                        span {
                            color: #000;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: normal;
                        }
                    }

                    .date_time {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 10px;
                        margin-top: 14px;

                        @media (max-width: 991.98px) {
                            flex-direction: column;
                            gap: 10px;
                        }

                        input {
                            width: calc(100% / 2 - 10px);
                            border-radius: 5px;
                            border: 0.5px solid #B0B0B0;
                            padding: 10px;
                            color: #B0B0B0;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: normal;

                            @media (max-width: 991.98px) {
                                width: 100%;
                            }
                        }
                        .nice-select {
                            width: 50%;
                            border-radius: 5px;
                            border: 0.5px solid #B0B0B0;
                            padding: 10px;
                            color: #B0B0B0;
                            font-size: 16px;
                            font-weight: 400;
                            height: 47px;
                            display: flex;
                            align-items: center;

                            @media (max-width: 991.98px) {
                                width: 100%;
                            }

                            .current {
                                color: #B0B0B0;
                                font-size: 16px;
                                font-weight: 400;
                            }
                            .list {
                                width: 100%;
                            }
                        }

                    }

                    .book_btn {
                        border-radius: 5px;
                        background: #30D094;
                        padding: 10px 20px;
                        color: #FFF;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: normal;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px;
                        width: 100%;
                        border: none;
                        margin-top: 10px;
                    }

                }
            }
        }
    }

    .load_morebtn {
        margin-top: 70px;
        display: flex;
        justify-content: center;

        button {
            border: none;
            width: 203px;
            height: 60px;
            border-radius: 8px;
            background: #30D094;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            line-height: 25px; 
        }
    }

}


.fitting_centers .service_centers li {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
}


.fitting_centers .service_centers li a .service_details .location h2 {
    min-height: 60px;
}

.fitting_centers .service_centers li a .service_details p {
    min-height: 50px;
}

.fitting_centers .service_centers li a .service_details .location {
    align-items: start;
}
