html {
  /* 62.5% of 16px base font size is 10px */
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size: 56.25%; // 1rem = 9px
  }

  @media (max-width: 576px) {
    font-size: 50%; // 1rem = 8px
  }
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-family: 'Poppins';
}




a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

section {
  max-width: 100vw;
}

p {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

label {
  margin: 0;
  padding: 0;
}

button {
  text-transform: capitalize;
  &:focus {
    outline: none;
  }
}

.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.container {
  padding: 0 60px;
  max-width: 1440px;

  @include media-breakpoint-down(xl)  {
    padding: 0 55px;
  }

  @include media-breakpoint-down(lg)  {
    padding: 0 40px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 30px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 20px;
  }

}

ul,
li {
  padding: 0;
  list-style: none;
  margin: 0px;
}

.form-control {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.primary_btn {
  border-radius: 10px;
  background: $primary;
  height: 54px;
  color: $white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  width: 100%;

  &:hover {
    color: $white;
  }
}


// header

header {
  .header {
    background: #021639;
    padding: 0.4rem 0;
    .header_contents {
      display: flex;
      justify-content: space-between;
      align-items: center;

       @media (max-width: 767.98px)  {
      .logo {
        width: 140px;
        height: 70px;

        img {
          width: 100%;
          height: 100%;
        }
      }
       }


      .office_openTime {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;

        span {
          color: #FFF;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          
            @media (max-width: 767.98px) {
              font-size: 14px;
            }

        }

          @media (max-width: 767.98px)  {
            display: none;
          }

      }

      .cart_profile {
        ul {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 40px;
            @media (max-width: 767.98px) {
              gap: 20px;
            }
            li {
              img {
                 @media (max-width: 767.98px)  {
                  width: 25px;
                  height: 25px;
                 }
              }
              &.menu_toggle {
                display: none;
                 @media (max-width: 767.98px)  {
                  display: block;
                 }
              }
            }
        }
      }

    }
  }
  .menu_header {
    .nav_headerContents {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8.5px;

      @media (max-width: 767.98px)  {
        gap: 30px;
      }
      
      .nav {
        max-width: 776px;
        width: 100%;
        z-index: 99;

        @media (max-width: 767.98px)  {
          display: none;
         }

        &.nav_open {
          display: block;
        }


        .close_btnmob {
          padding-bottom: 20px;
          text-align: end;
          position: absolute;
          top: 20px;
          right: 20px;
          display: none;
          @media (max-width: 778.98px) {
            display: block;
          }
          img {
            width: 15px;
            height: 15px;
            object-fit: contain;
          }
        }
        
      @media (max-width: 767.98px)  {
        position: fixed;
        width: 100%;
        left: 0;
        height: 100%;
        bottom: 0;
        top: 0;
      }


  

       


        ul {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 25px;

          @media (max-width: 1199.98px) {
            gap: 20px;
          }
          @media (max-width: 991.98px) {
            gap: 5px;
          }

          @media (max-width: 767.98px)  {
            flex-direction: column;
            background: white;
            width: 100%;
            gap: 20px;

            justify-content: center;
            height: 100%;
          }

          li {
            padding: 10px;
            @media (max-width: 991.98px) {
              padding: 5px;
            }
            a {
              color: #000;
              font-size: 18px;
              font-weight: 600;
              line-height: normal;
              transition: .3s ease-in-out;

              @media (max-width: 1199.98px) {
                font-size: 16px;
              }
              @media (max-width: 991.98px) {
                font-size: 12px;
              }

              @media (max-width: 767.98px) {
                font-size: 20px;
              }
  
              &:hover {
                color: #30D094;
                font-weight: 600;
                transition: .3s ease-in-out;


                svg {
                  path {
                    stroke: #30D094;
                    font-weight: 600;
                    transition: .3s ease-in-out;
                  }
                }

              }
            }
          }
        
        }
          
      }
       .office_openTimeResponsive {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        display: none;

          @media (max-width: 767.98px)   {
            display: flex;
            align-items: center;
            width: 50%;
          }

        span {
          color: black;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          
            @media (max-width: 767.98px) {
              font-size: 14px;
            }

        }

      }
      .contact {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;

        @media (max-width: 1199.98px)  {
          gap: 3px;
        }

        @media (max-width: 991.98px)   {
          gap: 10px ;
           width: 50%;
        }
  
        p {
          color: #000;
          font-size: 15px;
          font-weight: 500;

          @media (max-width: 1199.98px) {
            font-size: 13px;
          }
  
          a {
            font-weight: 700;
            color: #000;
          }
        }
  
      }
    }

  }
}


//footer  

footer {
  .main_footer {
    padding-top: 32px;
    padding-bottom: 68px;
    background-color: black ;

    .footer_contents {
      display: flex;
      justify-content: start;
      gap: 30px;
      align-items: start;

      @media (max-width: 991.98px)  {
        flex-direction: column;
      }

      @media (max-width: 1199.98px) {
        gap: 20px;
      }
      .logo_section {
        .location {
          
          margin-top: 20px;
          display: flex;
          align-items: start;
          gap: 14px;
          justify-content: start;
          a {
            color: #FFF;
            font-size: 15px;
            font-weight: 600;
            line-height: normal;
            max-width: 148px;
          width: 100%;

          @media (max-width: 1199.98px)  {
            font-size: 14px;
          }
          }
          .logo {
            img {
              width: 30px;
              height: 30px;
              object-fit: contain;
            }
          }
        }
      }
      .footer_menu {
        margin-top: 18px;
        display: flex;
        gap: 30px;
        @media (max-width: 1199.98px) {
          gap: 20px;
        }
        @media (max-width: 767.98px) {
          flex-wrap: wrap;
        }
        @media (max-width: 576px) {
          flex-direction: column;
          width: 100%;
        }
        .quick_links{

          @media (max-width: 767.98px) {
            width: calc(100% / 2 - 20px);
          }
              @media (max-width: 576px)  {
                width: 100%;
              }

          h2 {
            color: $secondary;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 12px;
            @media (max-width: 1199.98px) {
              font-size: 16px;
            }
          }
          .menu_flex {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 20px;
            @media (max-width: 1199.98px) {
              gap: 10px;
            }
                @media (max-width: 576px)  {
                  gap: 30px;
                }
            ul {
              display: flex;
              flex-direction: column;
              gap: 23px;
              li {
                 a {
                  color: #FFF;
                  font-size: 15px;
                  font-weight: 600;
                  line-height: normal;
                  @media (max-width: 1199.98px)  {
                    font-size: 14px;
                  }

                  svg {
                    path {
                      stroke: white;
                    }
                  }

                  &:hover {
                    color: #30D094;
                    font-weight: 600;
                    transition: .3s ease-in-out;
    
    
                    svg {
                      path {
                        stroke: #30D094;
                        font-weight: 600;
                        transition: .3s ease-in-out;
                      }
                    }
    
                  }
                 }
              }
            }
          }
            ul {
              li {
                a {
                  color: #FFF;
                  font-size: 15px;
                  font-weight: 600;
                  line-height: normal;
                  @media (max-width: 1199.98px)  {
                    font-size: 14px;
                  }
                  &:hover {
                    color: #30D094;
                    font-weight: 600;
                    transition: .3s ease-in-out;
    
                  }
                }
              }
              &.social_media {
                display: flex;
                gap: 14px;
                li {
                  a {
                    border-radius: 50px;
                    background: #333;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                      width: 20px;
                      height: 20px;
                      object-fit: contain;
                    }
                    &:hover {
      
      
                      svg {
                        path {
                          fill: #30D094;
                          transition: .3s ease-in-out;
                        }
                      }
      
                    }
                  }
                }
              }
            }
        }
      }
    }
  }
  .sub_footer {
    padding: 23px 0 18px 0;
    border-top: 0.5px solid #FFF;
    background: #000;


    .sub_footercontents {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        color: #FFF;
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 1199.98px)  {
          font-size: 14px;
        }
          @media (max-width: 767.98px) {
            font-size: 12px;
          }
      }
      ul {
        display: flex;
        gap: 12px;
        li {
          a {
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            @media (max-width: 1199.98px)  {
              font-size: 14px;
            }
              @media (max-width: 767.98px) {
                font-size: 12px;
              }
          }
        }
      }
    }


  }
}


.privacy_page {
  padding: 50px 0 100px 0;
  h2 {
    font-size: 35px;
    font-weight: 600;


  }

  p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
  }
}