main {
  .banner_section {
    .container {
      max-width: 100%;
      padding: 0;

      @media (max-width: 575.98px) {
        padding: 0;
      }
      .bannerslide_parent {
        position: relative;

        .banner_row {
          @media (max-width: 1199.98px) {
            flex-direction: column;
          }
        }

        .banner_filterBox {
          border-radius: 16px;
          position: absolute;
          z-index: 9;
          top: 50%;
          transform: translateY(-50%);
          left: 3%;
          border: 1px solid #FFF;
          background: #FFF;
          max-width: 663px;
          width: 100%;
          padding: 24px;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

          @media (min-width: 1399.98px)  {
            left: 8% !important;
          
          }

          @media (max-width: 1199.98px) {
            top: 3rem;
            transform: unset;
            max-width: 515px;
          }
          @media (max-width: 768.98px)  {
            left: 0;
          }
          h2 {
            color: #000;
            font-size: 24px;
            font-weight: 700;
            line-height: normal;
            text-transform: unset !important;
            @media (max-width: 575.98px) {
              font-size: 18px;
            }
          }
          .reg_boxParent {
            margin: 16px 0;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 37px;

            @media (max-width: 575.98px) {
              gap: 25px;
              flex-direction: column;
            }
     
            .reg_box {
              border-radius: 8px;
              border: 2px solid #000;
              height: 60px;
              background: #FFCD02;
              max-width: 353px;
              width: 100%;
              display: flex;
              gap: 12px;

              @media (max-width: 575.98px) {
                max-width: 100%;
              }

              .gb_blueBox {
                display: flex;
                width: 18px;
                padding: 7.5px 2px 5.5px 3px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 6px;
                border-radius: 6px 0px 0px 6px;
                background: #2655DA;
                .round_gb {
                  h6 {
                    color: #FFF;
                    font-size: 9px;
                    font-weight: 700;
                    line-height: 25px;
                    margin-top: 6px;
                  }
                }
              }
              input {
                background-color: transparent;
                width: 100%;
                border: none;
                color: #000;
                font-size: 18px;
                font-weight: 700;
                line-height: 25px; 
                outline: none;

                &::placeholder {  
                  color: #000;
                  font-size: 18px;
                  font-weight: 700;
                  line-height: 25px; 
                }
              }
            }
            .reg_searchBtn {
              max-width: 225px;
              width: 100%;

              @media (max-width: 575.98px) {
                max-width: 100%;
              }

              button {
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                line-height: 25px; 
                border-radius: 8px;
                padding: 15px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $secondary;
                border-radius: 8px;
                border: none;
                width: 100%;
                @media (max-width: 575.98px) {
                  font-size: 16px;
                }
              }
            }
          }
          .fully_fittedRadio_switch {
            display: flex;
            align-items: center;
            gap: 40px;

            @media (max-width: 575.98px)  {
              gap: 10px;
            }

            .radio_switch {
              display: flex;
              align-items: center;
              gap: 6px;
              input {
                accent-color: #1f8961;
                width: 20px;
                height: 20px;

                @media (max-width: 575.98px)  {
                  width: 15px;
                  height: 15px;
                }

              }
              label {
                color: #000;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                @media (max-width: 575.98px)  {
                  font-size: 13px;
                }
              }
            }
            &.mt_19 {
              margin-top: 19px;
            }
          }
          .or {
            text-align: center;
            position: relative;
            margin-bottom: 9px;

            @media (max-width: 575.98px) {
              margin-top: 9px;
            }

            &::after {
              content: "";
              position: absolute;
              background-color: #B0B0B0;
              height: .5px;
              width: 100%;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              margin-bottom: 10px;
            }
            span {
              color: #000;
              font-size: 20px;
              font-weight: 700;
              padding: 0 20px;
              line-height: 25px;
               position: relative;
               z-index: 9;
              
              background-color: white;
            }
          }
          .tyre_sizes {
            display: flex;
            gap: 5px;
            align-items: center;
            margin-top: 19px;

            @media (max-width: 991.98px) {
              flex-wrap: wrap;
            }

            .nice-select {
              width: calc(100% / 4 - 5px);
              border-radius: 8px;
              border: 0.5px solid #B0B0B0;
              background: #FFF;
              height: 60px;
              display: flex;
              align-items: center;
              padding-left: 10px;

              @media (max-width: 991.98px)  {
                width: calc(100% / 2 - 18px);
              }

              @media (max-width: 575.98px)  {
                height: 40px;
              }

              .list {
                width: 100%;
                height: 210px;
                overflow-y: auto;
              }

              .current {
                color: #000;
                font-size: 14px;
                font-weight: 500;
                line-height: 25px; 

                @media (max-width: 575.98px)  {
                  font-size: 14px;
                }
              }
              &:after {
                border-bottom: 2px solid #000;
                border-right: 2px solid #000;
                width: 9px;
                height: 9px;
                margin-top: -6px;
              }
            }
          }
          .continue_btn {
            width: 100%;
            margin-top: 19px;
            button {
              color: #FFF;
              font-size: 20px;
              font-weight: 700;
              line-height: 25px; 
              border-radius: 8px;
              padding: 15px;
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $secondary;
              border-radius: 8px;
              border: none;
              width: 100%;
              @media (max-width: 575.98px) {
                font-size: 16px;
              }
            }
          }
        }
        .banner_slider {
          .mrf_banner {
            background-image: url(../images/mrf_banner.png);
            background-repeat: no-repeat;
            padding: 50px 120px 50px 120px;
            display: flex;
            gap: 35px;
            height: 676px;
            background-size: cover;
            display: flex;
            justify-content: center;

            @media (max-width: 1199.98px) {
              height: auto !important;
            }

           
  
            @media (max-width: 575.98px) {
              padding: 16px;
            }
  
            @media (max-width: 1199.98px) {
              flex-direction: column;
              padding-bottom: 80px;
              background-size: cover;
            }

          
        
  
        
            .about_mrf_tyres {
            padding-left: 18rem;

            @media (max-width: 1199.98px)  {
              padding-left: 48rem;

            }
            @media (max-width: 991.98px) {
              padding-left: 0;
              
            }

            @media (max-width: 991.98px) {
              padding-top: 58rem;
            }

            @media (max-width: 768.98px) {
              padding-top: 62rem;
            }

            @media (max-width: 575.98px) {
              padding-top: 77rem;
            }


              .mrf_logo {
                @media (max-width: 575.98px)  {
                  width: 150px;
                }
                img {
                  @media (max-width: 575.98px) {
                    width: 100%;
                  }
                }
              }
              h2 {
                color: #FFF;
                font-size: 60px;
                font-weight: 700;
                line-height: normal;
                margin-top: 34px;
                @media (max-width: 1199.98px)  {
                  font-size: 45px;
                  
                }
                @media (max-width: 991.98px)  {
                  font-size: 40px;
                }
                @media (max-width: 575.98px) {
                  font-size: 25px;
                }
              }
              .know_moreBtn {
                height: 60px;
                max-width: 222px;
                width: 100%;
                margin-top: 14px;
                @media (max-width: 991.98px)  {
                  max-width: 180px;
                  height: 50px;
                }
                button {
                  color: #FFF;
                  font-size: 20px;
                  width: 100%;
                  border: none;
                  font-weight: 700;
                  line-height: 25px; 
                  border-radius: 8px;
                  height: 60px;
                  background: #C13128;
                  display: flex;
                  align-items: center;
                  justify-content: center;
  
                  @media (max-width: 991.98px)  {
                    height: 50px;
                  }
                }
              }
            }
       
               
          }
          .mrf_banner2 {
            background-image: url(../images/banner2.png);
            background-repeat: no-repeat;
            padding: 50px 120px 0 120px;
            display: flex;
            gap: 35px;
            height: 676px;  
            background-size: cover;
            display: flex;
            justify-content: center;

            @media (max-width: 1199.98px) {
              height: auto !important;
            }


           
  
            @media (max-width: 575.98px) {
              padding: 16px;
            }
  
            @media (max-width: 1199.98px) {
              flex-direction: column;
              padding-bottom: 80px;
              background-size: cover;
            }


            .banner_tyrespecs {
              min-height: 536px;
              display: flex;
              align-items: center;
              justify-content: end;
              height: 100%;

              @media (max-width: 1399.98px)  {
                justify-content: end;
                padding-left: 0;
                
              }

              @media (max-width: 991.98px) {
                padding-left: 0;
                padding-top: 74rem;
                justify-content: center;
                
              }

              @media (max-width: 575.98px) {
                padding-top: 95rem;
              }

             


                .tyre_img {
                  position: relative;
                  img {
                    max-width: 350px;
                    width: 100%;
                    object-fit: contain;
                    object-position: bottom;

                    @media (max-width: 1399.98px)  {
                      max-width: 285px;
                    }
                  }
                  span {
                    color: #FFF;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: normal;
                    position: absolute;
                    left: 0;
                  }
                }
            }

            .banner_row {
              width: 100%;
            }

          
        
  
        
            .about_mrf_tyres {
            padding-left: 18rem;
            @media (max-width: 1299.98px) {
              padding-left: 0;
              justify-content: end;
              // padding-top: 68rem;
              // justify-content: center;
              
            }

            @media (max-width: 991.98px) {
              padding-top: 58rem;
            }

            @media (max-width: 768.98px) {
              padding-top: 62rem;
            }

            @media (max-width: 575.98px) {
              padding-top: 77rem;
            }


              .mrf_logo {
                @media (max-width: 575.98px)  {
                  width: 150px;
                }
                img {
                  @media (max-width: 575.98px) {
                    width: 100%;
                  }
                }
              }
              h2 {
                color: #FFF;
                font-size: 60px;
                font-weight: 700;
                line-height: normal;
                margin-top: 34px;
                @media (max-width: 991.98px)  {
                  font-size: 40px;
                }
                @media (max-width: 575.98px) {
                  font-size: 25px;
                }
              }
              .know_moreBtn {
                height: 60px;
                max-width: 222px;
                width: 100%;
                margin-top: 14px;
                @media (max-width: 991.98px)  {
                  max-width: 180px;
                  height: 50px;
                }
                button {
                  color: #FFF;
                  font-size: 20px;
                  width: 100%;
                  border: none;
                  font-weight: 700;
                  line-height: 25px; 
                  border-radius: 8px;
                  height: 60px;
                  background: #C13128;
                  display: flex;
                  align-items: center;
                  justify-content: center;
  
                  @media (max-width: 991.98px)  {
                    height: 50px;
                  }
                }
              }
            }
          }
        }
        .good_yearbannr {
          background-color: #2655DA;
          padding: 50px 120px 50px 120px;
          height: 676px;

          @media (max-width: 991.98px) {
            height: 1100px;
            padding: 100px 20px 50px 0;
          }

          .good_year_contents {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;


            @media (max-width: 991.98px) {
              padding-top: 70rem;
              right: unset;
              left: 30px;
            }

          

            .good_yearcontents {
              position: absolute;
              top: 160px;
              left: 0;

              @media (max-width: 991.98px)  {
                top: 90rem;
              }
            }

            h3 {
              font-weight: 500;
              max-width: 464px;
              width: 100%;
              font-size: 35px;
              line-height: 50px;
              font-weight: 500;
              max-width: 410px;

              span {
                color: #FFDD00;
              }
            }

            button {
              max-width: 203px;
              width: 100%;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 8px;
              background-color: #FFDD00;
              font-size: 25px;
              font-weight: 700;
              color: #004990  ;
              margin-top: 50px;
              border: none;
            }
          }

        }
        .step_banner {
         
          img {
            width: 100%;
            height: 676px;

            @media (max-width: 1199.98px) {
              object-fit: cover;
              object-position: right  ;
            }
          }
        }
      }
      // .experice_ulParent{

      // }

    }

        @media (max-width: 991.98px)  {
              .swiper-button-prev {
      display: none;

      
    }

    .swiper-button-next {
      display: none;
    }
        }




    .swiper-button-prev:after {
      color: white;
      font-size: 25px;

      
    }

    .swiper-button-next:after {
      color: white;
      font-size: 25px;
    }


  }

  .banner_ul {
    .experiece {
      display: flex;
      align-items: center;
      gap: 20px;
      margin: 66px 0 90px 0;
  
      @include media-breakpoint-down(xl)  {
        flex-wrap: wrap;
        justify-content: center;
      }
      @include media-breakpoint-down(md) {
        gap: 10px;
      }
      @include media-breakpoint-down(md) {
        justify-content: center;
      }
      li {
        width: calc(100% / 3 - 20px);
        border-radius: 8px;
        background: #FFF;
        padding: 15px 20px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.16);
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 10px;

        @include media-breakpoint-down(xl)  {
          width: calc(100% / 2 - 20px);
        }
        @include media-breakpoint-down(md)  {
          font-size: 16px;
          width: 100%;
          justify-content: center;
        }

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .order_tyreSection {
    border-radius: 50px 50px 0px 0px;
    background: #FFF;
    padding: 40px 0;
    box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.16);

    .order_contents {
      h2 {
        color: #021639;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        line-height: normal;

        @include media-breakpoint-down(md)  {
          font-size: 25px;
        }

        span {
          color: #30D094  ;
        }
      }
      .steps {
        display: flex;
        gap: 21px;
        align-items: center;
        margin-top: 50px;
        @include media-breakpoint-down(md)  {
          flex-wrap: wrap;
        }
        li {
          width: calc(100% / 4 - 21px);
          @include media-breakpoint-down(md)  {
            width: calc(100% / 2 - 21px);
          }
          img {
            width: 100%;
          }
        }
      }
    }

  }
  .branded_tyreSection {
    background-color: #F4F4F4;
    padding: 70px 0;
    h2 {
      color: #021639;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      line-height: normal;

      @include media-breakpoint-down(md)  {
        font-size: 25px;
      }

      span {
        color: #30D094  ;
      }
    }
   .branded_tyreSlider {
    margin-top: 40px;

    .swiper-slide {
      img {
        @include media-breakpoint-down(md) {
          width: 100%;
        }
       
      }
    }

    .swiper-button-next {
      &:after {
        background-image: url(../images/icons/brand_next.png);
        content: "";
        width: 52px;
        position: absolute;
        right: 0;
        height: 52px;
        background-repeat: no-repeat;
      }
    }
    .swiper-button-prev {
      &:after {
        background-image: url(../images/icons/brand_prev.png);
        background-repeat: no-repeat;
        content: "";
        width: 52px;
        position: absolute;
        left: 0;
        height: 52px;
        background-repeat: no-repeat;
      }
    }
   }
  }
  .tyre_budget_details {
    background-color: white;
    padding: 80px 0 40px 0;
    h2 {
      color: #021639;
      font-size: 40px;
      font-weight: 600;
      line-height: normal;

      @include media-breakpoint-down(md)  {
        font-size: 25px;
      }

      span {
        color: #30D094  ;
      }
    } 
    p {
      margin: 14px 0 30px 0;
      color: #B0B0B0;
      font-size: 20px;
      text-align: left;
      font-weight: 400;
      line-height: normal;
    }
    .budget_ul {
      display: flex;
      align-items: center;
      gap: 20px;
      @include media-breakpoint-down(lg) {
        flex-direction: column;
        align-items: center;
      }
      li {
        width: calc(100% / 3 - 20px);
        height: 550px;
        position: relative;
        transition: .3s ease-in-out;  
        @include media-breakpoint-down(lg)  {
          width: 100%;
        }
        &:hover {
         .hovering_box  {
          bottom: 190px;
          transition: .3s ease-in-out;
          }

          .budget_img {
            img {
              transition: .3s ease-in-out;  
              transform: scale(1.5);
            }
          }
      

        }

        .budget_img {
        
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: .3s ease-in-out;  
        }
        img {
          width: 100%;
          border-radius: 10px;
          transition: .3s ease-in-out;  
        }

        .hovering_box {
          bottom: 100px;
          position: absolute;
          width: 90%;
          left: 0;
          right: 0;

          margin: auto;
          transition: .3s ease-in-out;
          padding: 14px;
          border-radius: 4px;
          border-bottom: 4px solid #30D094;
          background: #FFF;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);

       

          .main_head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
              color: #021639;
              font-size: 24px;
              font-weight: 600;
              line-height: normal;
            }
            p {
              color: #B0B0B0;
              font-size: 14px;
              font-weight: 400;
              line-height: normal;
              margin-top: 8px;
            }
          }
        }

      }
    }
  }
  .tyre_banner {
    background-image: url(../images/banner_viewtyre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 267px;

   


    .tyrebanner_contents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 267px;
      @include media-breakpoint-down(lg) {
        gap: 20px;
      } 
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        justify-content: center;
      } 
      h2 {
        color: #FFF;
        font-size: 40px;
        font-weight: 600;
        max-width: 496px;
        width: 100%;
        line-height: normal;
        @include media-breakpoint-down(lg) {
          font-size: 30px;
          max-width: 390px;
        }

        @include media-breakpoint-down(sm)  {
          text-align: center;
        }
        
      }
      button {
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; 
        padding: 17.5px 46px ;
        border-radius: 8px;
        background: #30D094;
        border: none;

        @include media-breakpoint-down(lg) {
          padding: 10px 40px ;
          font-size: 15px;
        }
  
      }
    }


  }
  .tyre_list {
    padding-bottom: 70px;
    padding-top: 40px;
    h2 {
      color: #021639;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      line-height: normal;
      padding-bottom: 28px;

      @include media-breakpoint-down(md)  {
        font-size: 25px;
      }

      span {
        color: #30D094  ;
      }
    }
    .tyrelisting_ul {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
      row-gap: 40px;
      flex-wrap: wrap;
      li {
        width: calc(100% / 4 - 20px);
        padding: 20px 14px 14px 14px;
        border-radius: 8px;
        position: relative;
        background: #FFF;
        transition: .3s ease;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);

        &:hover {
          box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
          transition: .3s ease;
          .product_img  {
            img {
              transform: scale(1);
              transition: .3s ease;
            }
          }
        }

        @media (max-width: 1199.98px) {
          width: calc(100% / 3 - 20px);
        }
        @media (max-width: 991.98px)  {
          width: calc(100% / 2 - 20px);
        }

        @media (max-width: 568.98px)  {
          width: 100%;
        }
        
        a {
          .product_img {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              transform: scale(.8);
              transition: .3s ease;
              @media (max-width: 991.98px) {
                max-width: 140px;
                width: 100%;
              }

            }
          }
          .tyre_details {
            padding: 14px;
            h3 {
             
              color: #000;
              font-size: 20px;
              font-weight: 500;
              line-height: normal;
            }
            h4 {
              small {
                color: black;
              }
            }
            h5 {
              color: #000;
              font-size: 20px;
              font-weight: 700;
              line-height: normal;
              span {
                color: #000;
                font-size: 30px;
                font-weight: 700;
                line-height: normal;
              }
            }
            .tyre_features {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              position: absolute;
              left: 50%;
              bottom: -10px;
              transform: translateX(-50%);  

              li {
                width: calc(100% / 3 - 10px);
                padding: 0;
                border-radius: unset;
                background: unset;
                box-shadow: unset;
                display: flex;
                gap: 2px;
                align-items: center;
                padding: 4px 15px;
                border-radius: 20px;

                &.fuel {
                  background-color: #ea1303;
                }
                &.rain {
                  background-color: #ded53a;
                }
                &.speaker {
                  background-color: #676767;
                }

                img {
                 width: 24px;
                 height: 24px;
                 object-fit: contain;
                }
                span {
                  color: #FFF;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: normal;
                }
              }
            }
          }
        }
        &.view_allTyres {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 418px;
          @media (max-width: 991.98px) {
            height: 359px;
          }
          @media (max-width: 768.98px) {
            height: 329px;
          }
          .view_allBtn {
            height: 60px;
            max-width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 8px;
            background: #30D094;
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            line-height: 25px; 
            padding: 10px;
          }
        }
      }
    }
  }
  .shop_tyre {
    background: #F4F4F4;
    padding: 40px 0;


    .tyre_shopingDetails {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
        @media (max-width: 1199.98px) {
        flex-direction: column
        ;}
      .tyre_types {
        h2 {
          color: #021639;
          font-size: 40px;
          font-weight: 600;
          text-align: center;
          line-height: normal;
    
          @include media-breakpoint-down(md)  {
            font-size: 25px;
          }
    
          span {
            color: #30D094  ;
          }
        }
      }
.climte_suitable_sliderparent {
  width: calc(100% - 370px );

     @media (max-width: 1199.98px) {
       width: 100%;
        }

a {
  color: black;
  .tyre_slideImg {
    position: relative;
    overflow: hidden;
    transition: .3s ease;
    border-radius: 10px;

    img {
      width: 100%;
      transition: .3s ease;
      border-radius: 10px;
    }
    span {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      color: #FFF;
      text-align: center;
      font-size: 17px;
      font-weight: 500;
      line-height: normal;
      
      @media (max-width: 991.98px) {
        font-size: 14px;
      }
    }
    &:hover {
      img {
        transform: scale(1.2);
        transition: .3s ease;
      }
    }
  }
}


}
    }
  }
}



.branded_tyreSlider  .swiper-slide  img {
  height: 76px;
  width: 100%;
  object-fit: contain;
}


.swiper_brandsparentt {
  position: relative;
  padding: 0 20px;

  .branded_tyreSlider {
    .swiper-slide {
      img {
        height: 76px;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .swiper-button-next, .swiper-button-prev {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border: 1px solid #FFF;
    background: #30D094;
    @media (max-width: 767.98px) {
      display: none;
    }
  }

  .swiper-button-next {
    right: -40px;
    @media (max-width: 767.98px)  {
      right: 0;
    }
  }
  .swiper-button-prev  {
    left: -40px;
    @media (max-width: 767.98px)  {
      right: 0;
    }
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px;
    color: white;
  }
  
  .swiper-button-next:after, .swiper-button-prev {
    @media (max-width: 575.98px)  {
      display: none;
    }
  }
}


.curved_arrowgroup{
  position: absolute;
  top: -40px;
  left: 0;

  .arow_tyresize {
    border-radius: 50px;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    gap: 1.5px;
    padding: 5.5px;
    flex-direction: column;

    &.left_tyre_size {
      position: absolute;
      top: 0;
      left: -90px;  
    }

    &.right_tyre_size {
      position: absolute;
      top: 0;
      right: -90px;  
    }

    &.top_tyre_size1 {
      position: absolute;
    top: -60px;
    right: 55px;  
    }

    &.top_tyre_size2 {
      position: absolute;
      top: -60px;
      left: 55px;  
    }

  
    h6 {
      color: #FFF;
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
    }

    h5 {
      color: #FFF;
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
    }

  }

}

.curved-container {
	position: relative;
	width: 200px;
	margin: auto;
	height: 200px;
  position: absolute;
  z-index: 9;
  bottom: 69px;
  right: 46px;
  transform: rotate(-47deg);

  @media (max-width: 1399.98px) {
    height: 175px;
    bottom: 53px;
    right: 32px;
  }

}
.curved-container h2 {
	border: none;
}
.curved-container span {
  font: 26px Monaco, MonoSpace;
  height: 200px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
}

.curved-container span {
  height: 165px;
}

.curved-container {
  position: relative;
  width: 200px;
  margin: auto;
  height: 200px;
  transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -webkit-transform: rotate(-49deg);
  position: absolute;
  z-index: 9;
  // bottom: 63px;
  // right: 68px;
}


.char0 { transform: rotate(6deg); -moz-transform: rotate(6deg); -webkit-transform: rotate(6deg); }
.char1 { transform: rotate(12deg); -moz-transform: rotate(12deg); -webkit-transform: rotate(12deg); }
.char2 { transform: rotate(18deg); -moz-transform: rotate(18deg); -webkit-transform: rotate(18deg); }
.char3 { transform: rotate(24deg); -moz-transform: rotate(24deg); -webkit-transform: rotate(24deg); }
.char4 { transform: rotate(30deg); -moz-transform: rotate(30deg); -webkit-transform: rotate(30deg); }
.char5 { transform: rotate(36deg); -moz-transform: rotate(36deg); -webkit-transform: rotate(36deg); }
.char6 { transform: rotate(42deg); -moz-transform: rotate(42deg); -webkit-transform: rotate(42deg); }
.char7 { transform: rotate(48deg); -moz-transform: rotate(48deg); -webkit-transform: rotate(48deg); }
.char8 { transform: rotate(54deg); -moz-transform: rotate(54deg); -webkit-transform: rotate(54deg); }
.char9 { transform: rotate(60deg); -moz-transform: rotate(60deg); -webkit-transform: rotate(60deg); }
.char10 { transform: rotate(66deg); -moz-transform: rotate(66deg); -webkit-transform: rotate(66deg); }
.char11 { transform: rotate(72deg); -moz-transform: rotate(72deg); -webkit-transform: rotate(72deg); }
.char12 { transform: rotate(78deg); -moz-transform: rotate(78deg); -webkit-transform: rotate(78deg); }
.char13 { transform: rotate(84deg); -moz-transform: rotate(84deg); -webkit-transform: rotate(84deg); }
.char14 { transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); }
.char15 { transform: rotate(96deg); -moz-transform: rotate(96deg); -webkit-transform: rotate(96deg); }
.char16 { transform: rotate(102deg); -moz-transform: rotate(102deg); -webkit-transform: rotate(102deg); }
.char17 { transform: rotate(108deg); -moz-transform: rotate(108deg); -webkit-transform: rotate(108deg); }
.char18 { transform: rotate(114deg); -moz-transform: rotate(114deg); -webkit-transform: rotate(114deg); }
.char19 { transform: rotate(120deg); -moz-transform: rotate(120deg); -webkit-transform: rotate(120deg); }
.char20 { transform: rotate(126deg); -moz-transform: rotate(126deg); -webkit-transform: rotate(126deg); }
.char21 { transform: rotate(132deg); -moz-transform: rotate(132deg); -webkit-transform: rotate(132deg); }
.char22 { transform: rotate(138deg); -moz-transform: rotate(138deg); -webkit-transform: rotate(138deg); }
.char23 { transform: rotate(144deg); -moz-transform: rotate(144deg); -webkit-transform: rotate(144deg); }


main .banner_section .container .bannerslide_parent .banner_filterBox .tyre_sizes .nice-select .list {
  width: 100%;
  height: 210px;
  overflow-y: auto;
}


.choosetyre_popup {
  .modal-content {
    padding: 20px;

    .modal-header {
      border-bottom: none;
    }

    .modal-body {
      .pop_card {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 10px 14px;
        border-radius: 10px;
        border: 0.5px solid #B0B0B0;

        @media (max-width: 575.98px) {
          flex-direction: column;
          gap: 15px;
        }
  
        .tyrebrand_img {
          img {
            width: 168px;
            height: 120px;
            object-fit: cover;
          }
        }
        .tyrebrand_details {
          h2 {
            color: #000;
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
          }
          h6 {
            color: #000;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            margin-top: 5px;
          }
          .whats_nextBox {
            border-radius: 5px;
            border: 1px solid #30D094;
            background: rgba(48, 208, 148, 0.10);
            padding: 10px;
            margin-top: 16px;
            .alertbox {
              display: flex;
              gap: 8px;
              align-items: center;
          
              img {
                width: 16px;
                height: 16px;
                object-fit: cover;
              }
              h6 {
                color: #000;
                font-size: 14px;
                font-weight: 500;
                margin-top: 0;
              }
            }
            p {
              color: #000;
              font-size: 12px;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
      .tyre_codedetails {
        h3 {
          color: #021639;
          font-size: 26px;
          font-weight: 600;
          margin-top: 35px;
        }
        p {
          color: #000;
          font-size: 14px;
          font-weight: 400;
          margin-top: 4px;
        }
        .tyresize_box {
          border-radius: 5px;
          border: 0.5px solid #B0B0B0;
          background: #FFF;
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
          padding: 10px 20px;
          color: #000;
          font-size: 18px;
          font-weight: 400;
          margin-top: 12px;
          line-height: normal;
          display: flex;
          gap: 3px;
          align-items: center;
          max-width: 463px;
          width: 100%;
          transition: .3s ease;
          cursor: pointer;

          &:hover {
            transform: translateX(3px);
            transition: .3s ease;
            border: 0.5px solid #30D094;
          }

          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
          }

        }

        h4 {
          color: #000;
          font-size: 20px;
          font-weight: 600;
          line-height: normal;
          text-transform: capitalize;
          margin-top: 25px;
          a {
            color: #30D094;
            text-decoration: underline;
          }
        }
      }
      .tyresize_detailedBox {
        margin-top: 20px;
        border-radius: 10px;
        border: 1px solid #B0B0B0;
        background: #F4F4F4;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 575.98px) {
          flex-direction: column;
          padding: 20px;
        }

        .head {
          h2 {
            color: #000;
            font-size: 24px;
            font-weight: 600;
            line-height: normal;
          }
          p {
            color: #000;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            margin-top: 8px;
          }
        }

        .size_details {
          max-width: 454px;
          width: 100%;
         
          .tyre_sizes {
            display: flex;
            gap: 5px;
            align-items: center;
            margin-top: 19px;

            @media (max-width: 991.98px) {
              flex-wrap: wrap;
            }

            .select_parent{
              display: flex;
              flex-direction: column;
              width: calc(100% / 4);

              @media (max-width: 991.98px)  {
                width: calc(100% / 2 - 5px );
              }

             
              .nice-select {
                border-radius: 8px;
                border: 0.5px solid #B0B0B0;
                background: #FFF;
                height: 47px;
                display: flex;
                align-items: center;
                padding-left: 10px;
  
               
  
                .list {
                  width: 100%;
                  height: 210px;
                  overflow-y: auto;
                }
  
                .current {
                  color: #000;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 25px; 
  
                  @media (max-width: 575.98px)  {
                    font-size: 14px;
                  }
                }
                &:after {
                  border-bottom: 2px solid #000;
                  border-right: 2px solid #000;
                  width: 9px;
                  height: 9px;
                  margin-top: -6px;
                }
              }
              label {
                color: #000;
                font-size: 16px;
                font-weight: 500;
                line-height: 25px; 
              }
            }

         
          }

          .fully_fittedRadio_switch {
            display: flex;
            align-items: center;
            gap: 40px;

            @media (max-width: 575.98px)  {
              gap: 10px;
            }

            .radio_switch {
              display: flex;
              align-items: center;
              gap: 6px;
              input {
                accent-color: #1f8961;
                width: 20px;
                height: 20px;

                @media (max-width: 575.98px)  {
                  width: 15px;
                  height: 15px;
                }

              }
              label {
                color: #000;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                @media (max-width: 575.98px)  {
                  font-size: 13px;
                }
              }
            }
            &.mt_19 {
              margin-top: 19px;
            }
          }
          .continue_btn {
            width: 100%;
            margin-top: 19px;
            button {
              color: #FFF;
              font-size: 20px;
              font-weight: 700;
              line-height: 25px; 
              border-radius: 8px;
              padding: 15px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $secondary;
              border-radius: 8px;
              border: none;
              width: 100%;
              @media (max-width: 575.98px) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .modal-footer {
      border-top: none;
    }
  }
}


@media (max-width: 1299.98px)  {

  .good_year_contents {
    
      width: 475px;
      right: -60px;
    
  }

}


.banner_row {
  justify-content: end;
}



.round_stepdetails {
  position: absolute;
  // top: 75px;
  // left: 125px;


  

  .round_stepimg{
    img {
      height: unset !important;

      @media (max-width: 1199.98px) {
        width: unset;
      }
    }
    ul {
      position: absolute;
      top: 75px;
      left: 130px;

      li {
        color: white;
        font-weight: 500;
        font-size: 26px;

        &:not(:first-child) {
          margin-top: 60px;
        }
      }
    }
  }
}

.round_stepdetails {
  position: absolute;
  right: 80px;
  bottom: 70px;

  // @media (max-width: 1199.98px)  {
  //   top: 0;
  //   left: 0;
  // }
}

.accelera_contents {
  position: absolute;
  right: 30px;
  top: 160px;
  max-width: 480px;
  width: 100%;
}



.accelera_contents .logo img {
  width: unset !important;
  height: unset !important ;
}
.accelera_contents h3{
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin-top: 40px;
}

.accelera_contents h6 {
  font-size: 25px;
  font-weight: 600;
  color: #FEBF00;
  margin-top: 50px;
}

@media (max-width: 1199.98px) {
  main .banner_section .container .bannerslide_parent .step_banner img {
    height: 1100px;
  }

  .accelera_contents {
    left: 100px;
    right: unset;
    top: 600px;
  }

  .round_stepdetails  {
    right: unset;
    bottom: 5px;
    left: 40px;
  }




  // .round_stepimg img {
  //   height: unset;
  //   width: unset;
  // }
}

@media (max-width: 575.98px) {
  .round_stepimg img {
    max-width: 350px;
    width: 100%;
  }

  .accelera_contents {

    left: 20px !important;
  }

  .round_stepdetails {
    bottom: 90px;
  }

  .round_stepdetails .round_stepimg ul {
    top: 51px;
    left: 83px;
  }

  .round_stepdetails .round_stepimg ul li:not(:first-child) {
    margin-top: 42px;
  }

  .round_stepdetails .round_stepimg ul li {
    font-size: 16px;
  }
}


@media (max-width: 1399.98px) {
  .accelera_contents {
    right: 80px;
  }
}


@media (min-width: 1399.98px) {
  .accelera_contents {
    right: 150px;
  }
}