.orderConfirmation_page {
    .order_box {
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        gap: 30px;

        @media (max-width: 767.98px) {
            flex-direction: column;
            align-items: start;
        }

        .ordered_item {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;

            @media (max-width: 991.98px) {
                flex-direction: column;
                justify-content: start;
                align-items: start;
            }

            .item_img {
                height: 149px;
                max-width: 383px;
                width: 100%;
            }
            .item_details {
                max-width: 320px;
                width: 100%;
                h2 {
                    color: #000;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: normal;
                }
                p {
                    color: #B0B0B0;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 2px;
                }
                button {
                    padding: 4.5px 10px;
                    color: #30D094;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: normal;
                    border-radius: 5px;
                    border: 1px solid #30D094;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white ;
                    margin-top: 14px;
                }
            }
        }

        .order_price {
            h4 {
                color: #000;
                font-size: 20px;
                font-weight: 600;
                line-height: normal;
            }
            p {
                color: #B0B0B0;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                margin-top: 2px;
            }
        }
      

    }

    .customer_detailForm {
        padding: 24px 34px;
        border-radius: 10px;
        border: 0.5px solid #B0B0B0;
        background: #FFF;
        margin-top: 40px;
        form {
            h2 {
                color: #021639;
                font-size: 2.6rem;
                font-weight: 600;
                line-height: normal;
            }
            .personal_detail {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                input {
                    width: 100%;
                    height: 50px;
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: 0.5px solid #B0B0B0;
                    color: black    ;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 22px;

                    &::placeholder {
                        color: #B0B0B0;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
            .address_details {
                h2 {
                    color: #021639;
                    font-size: 2.6rem;
                    font-weight: 600;
                    line-height: normal;

                    span {
                        color: #B0B0B0;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: normal;

                        @media (max-width: 991.98px) {
                            display: block  ;
                        }
                    }
                }
            }
        }
    }
    .paymenthod_methods {
        margin-top: 40px;
        padding-bottom: 180px;
        h2 {
            color: #30D094;
            font-size: 28px;
            font-weight: 600;
            line-height: normal;
        }
        .confirm_order {
            display: flex;
            justify-content: start;
            gap: 20px;
            margin-top: 14px;

            @media (max-width: 767.98px) {
                flex-direction: column;
            }

            .ordered_boxParent {
                border-radius: 10px;
                max-width: 650px;
                padding: 20px 40px 40px 40px;
                width: 100%;
              height: fit-content;
border: 0.54px solid #B0B0B0;
                .ordered_item {
                    padding-bottom: 30px;


                    
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 20px;
                    gap: 10px;

                    &:not(:last-child) {
                        border-bottom: 1px solid #B0B0B0;
                    }

                    @media (max-width: 1199.98px) {
                        flex-direction: column;
                        align-items: start;
                        gap: 15px;
                    }

                    .about_product {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 28px;

                        @media (max-width: 1199.98px) {
                            flex-direction: column  ;
                            align-items: start;
                            gap: 10px;
                        }

                        .product_img {
                            img {
                                width: 61px;
                            }
                        }

                        .product_details {
                            h6 {
                                color: #000;
                                font-size: 20px;
                                font-weight: 500;
                                line-height: normal;
                            }
                            h5 {
                                color: #000;
                                margin-top: 4px;
                                font-size: 20px;
                                font-weight: 500;
                                line-height: normal;
                            }
                        }

                    }

                    .quality_box {
                        border-radius: 5px;
                        padding: 10px 14px;
                        border: 0.5px solid #B0B0B0;

                        h6 {
                            color: #B0B0B0;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: normal;

                            span {
                                color: #000;
                                font-weight: 500;
                            }
                        }
                    }
                    .price_box {
                        border-radius: 5px;
                        padding: 10px 14px;
                        border: 0.5px solid #B0B0B0;

                        h6 {
                            color: #B0B0B0;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: normal;

                            span {
                                color: #000;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .payment_options {
                max-width: 650px;
                width: 100%;
                .price_detailBox {
                    border-radius: 10px;
                    padding: 20px;
                    border: 0.5px solid #B0B0B0;

                    h3 {
                        color: #021639;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: normal;

                        span {
                            color: #B0B0B0;
                        }
                    }

                    .sub_total {
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h6 {
                            color: #B0B0B0;
                            font-family: Poppins;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        h5 {
                            color: #000;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: normal;
                        }
                    }

                }
                .terms {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 14px;
                    gap: 20px;

                    @media (max-width: 1199.98px) {
                        flex-direction: column;
                        align-items: start;
                    }

                    .check_boxterms {
                        
                        .terms_point {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            gap: 14px;
                            margin-top: 10px;
                            max-width: 314px;
                            width: 100%;

                            h6 {
                                color: #000;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: normal;
                            }
                            input {
                                accent-color: #3c9f7a;
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }

                    button {
                        border-radius: 5px;
                        background: #30D094;
                        padding: 10px 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        max-width: 290px;
                        width: 100%;
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                }
                .cards {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 14px;
                    margin-top: 34px;
                    @media (max-width: 575.98px) {
                        flex-wrap: wrap;
                        justify-content: start;
                    }
                    li {
                        width: calc(100% / 5 - 14px);
                        display: flex;
                        justify-content: center;
                        // img {
                        //     width: 100%;
                        // }

                        @media (max-width: 575.98px) {
                            width: calc(100% / 3 - 14px);
                        }
                    }
                }
            }
        }
    }
}