main {
  .banner_section_listing {
    .container {
        max-width: 100%;
        padding: 0;
  
        @media (max-width: 575.98px) {
          padding: 0;
        }
        .bannerslide_parent {
          position: relative;
  
          .banner_row {
            @media (max-width: 1199.98px) {
              flex-direction: column;
            }
          }
  
          .banner_filterBox {
            border-radius: 16px;
            position: absolute;
            z-index: 9;
            top: 50%;
            transform: translateY(-50%);
            left: 8%;
            border: 1px solid #FFF;
            background: #FFF;
            max-width: 663px;
            width: 100%;
            padding: 24px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
            @media (max-width: 1199.98px) {
              top: 3rem;
              transform: unset;
            }
            @media (max-width: 768.98px)  {
              left: 0;
            }
            h2 {
              color: #000;
              font-size: 24px;
              font-weight: 700;
              line-height: normal;
              @media (max-width: 575.98px) {
                font-size: 18px;
              }
            }
            .reg_boxParent {
              margin: 16px 0;
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 37px;
  
              @media (max-width: 575.98px) {
                gap: 25px;
                flex-direction: column;
              }
       
              .reg_box {
                border-radius: 8px;
                border: 2px solid #000;
                height: 60px;
                background: #FFCD02;
                max-width: 353px;
                width: 100%;
                display: flex;
                gap: 12px;
  
                @media (max-width: 575.98px) {
                  max-width: 100%;
                }
  
                .gb_blueBox {
                  display: flex;
                  width: 18px;
                  padding: 7.5px 2px 5.5px 3px;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;
                  gap: 6px;
                  border-radius: 6px 0px 0px 6px;
                  background: #2655DA;
                  .round_gb {
                    h6 {
                      color: #FFF;
                      font-size: 9px;
                      font-weight: 700;
                      line-height: 25px;
                      margin-top: 6px;
                    }
                  }
                }
                input {
                  background-color: transparent;
                  width: 100%;
                  border: none;
                  color: #000;
                  font-size: 18px;
                  font-weight: 700;
                  line-height: 25px; 
                  outline: none;
  
                  &::placeholder {  
                    color: #000;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 25px; 
                  }
                }
              }
              .reg_searchBtn {
                max-width: 225px;
                width: 100%;
  
                @media (max-width: 575.98px) {
                  max-width: 100%;
                }
  
                button {
                  color: #FFF;
                  font-size: 20px;
                  font-weight: 700;
                  line-height: 25px; 
                  border-radius: 8px;
                  padding: 15px;
                  height: 60px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: $secondary;
                  border-radius: 8px;
                  border: none;
                  width: 100%;
                  @media (max-width: 575.98px) {
                    font-size: 16px;
                  }
                }
              }
            }
            .fully_fittedRadio_switch {
              display: flex;
              align-items: center;
              gap: 40px;
  
              @media (max-width: 575.98px)  {
                gap: 10px;
              }
  
              .radio_switch {
                display: flex;
                align-items: center;
                gap: 6px;
                input {
                  accent-color: #1f8961;
                  width: 20px;
                  height: 20px;
  
                  @media (max-width: 575.98px)  {
                    width: 15px;
                    height: 15px;
                  }
  
                }
                label {
                  color: #000;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: normal;
                  @media (max-width: 575.98px)  {
                    font-size: 13px;
                  }
                }
              }
              &.mt_19 {
                margin-top: 19px;
              }
            }
            .or {
              text-align: center;
              position: relative;
              margin-bottom: 9px;
  
              @media (max-width: 575.98px) {
                margin-top: 9px;
              }
  
              &::after {
                content: "";
                position: absolute;
                background-color: #B0B0B0;
                height: .5px;
                width: 100%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-bottom: 10px;
              }
              span {
                color: #000;
                font-size: 20px;
                font-weight: 700;
                padding: 0 20px;
                line-height: 25px;
                 position: relative;
                 z-index: 9;
                
                background-color: white;
              }
            }
            .tyre_sizes {
              display: flex;
              gap: 5px;
              align-items: center;
              margin-top: 19px;
  
              @media (max-width: 991.98px) {
                flex-wrap: wrap;
              }
  
              .nice-select {
                width: calc(100% / 4 - 5px);
                border-radius: 8px;
                border: 0.5px solid #B0B0B0;
                background: #FFF;
                height: 60px;
                display: flex;
                align-items: center;
                padding-left: 10px;
  
                @media (max-width: 991.98px)  {
                  width: calc(100% / 2 - 18px);
                }
  
                @media (max-width: 575.98px)  {
                  height: 40px;
                }
  
                .list {
                  width: 100%;
                }
  
                .current {
                  color: #000;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 25px; 
  
                  @media (max-width: 575.98px)  {
                    font-size: 14px;
                  }
                }
                &:after {
                  border-bottom: 2px solid #000;
                  border-right: 2px solid #000;
                  width: 9px;
                  height: 9px;
                  margin-top: -6px;
                }
              }
            }
            .continue_btn {
              width: 100%;
              margin-top: 19px;
              button {
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                line-height: 25px; 
                border-radius: 8px;
                padding: 15px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $secondary;
                border-radius: 8px;
                border: none;
                width: 100%;
                @media (max-width: 575.98px) {
                  font-size: 16px;
                }
              }
            }
          }
          .banner_slider {
            .mrf_banner {
              background-image: url(../images/mrf_banner.png);
              background-repeat: no-repeat;
              padding: 50px 120px 50px 120px;
              display: flex;
              gap: 35px;
              background-size: cover;
              display: flex;
              justify-content: center;
  
             
    
              @media (max-width: 575.98px) {
                padding: 16px;
              }
    
              @media (max-width: 1199.98px) {
                flex-direction: column;
                padding-bottom: 80px;
                background-size: cover;
              }
  
            
          
    
          
              .about_mrf_tyres {
              padding-left: 18rem;
              @media (max-width: 1199.98px) {
                padding-left: 0;
                padding-top: 50rem;
                
              }
  
              @media (max-width: 991.98px) {
                padding-top: 58rem;
              }
  
              @media (max-width: 768.98px) {
                padding-top: 62rem;
              }
  
              @media (max-width: 575.98px) {
                padding-top: 77rem;
              }
  
  
                .mrf_logo {
                  @media (max-width: 575.98px)  {
                    width: 150px;
                  }
                  img {
                    @media (max-width: 575.98px) {
                      width: 100%;
                    }
                  }
                }
                h2 {
                  color: #FFF;
                  font-size: 60px;
                  font-weight: 700;
                  line-height: normal;
                  margin-top: 34px;
                  @media (max-width: 991.98px)  {
                    font-size: 40px;
                  }
                  @media (max-width: 575.98px) {
                    font-size: 25px;
                  }
                }
                .know_moreBtn {
                  height: 60px;
                  max-width: 222px;
                  width: 100%;
                  margin-top: 14px;
                  @media (max-width: 991.98px)  {
                    max-width: 180px;
                    height: 50px;
                  }
                  button {
                    color: #FFF;
                    font-size: 20px;
                    width: 100%;
                    border: none;
                    font-weight: 700;
                    line-height: 25px; 
                    border-radius: 8px;
                    height: 60px;
                    background: #C13128;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    @media (max-width: 991.98px)  {
                      height: 50px;
                    }
                  }
                }
              }
            }
            .mrf_banner2 {
              background-image: url(../images/banner2.png);
              background-repeat: no-repeat;
              padding: 50px 120px 50px 120px;
              display: flex;
              gap: 35px;
              background-size: cover;
              display: flex;
              justify-content: center;
  
             
    
              @media (max-width: 575.98px) {
                padding: 16px;
              }
    
              @media (max-width: 1199.98px) {
                flex-direction: column;
                padding-bottom: 80px;
                background-size: cover;
              }
  
            
          
    
          
              .about_mrf_tyres {
              padding-left: 18rem;
              @media (max-width: 1199.98px) {
                padding-left: 0;
                padding-top: 50rem;
                
              }
  
              @media (max-width: 991.98px) {
                padding-top: 58rem;
              }
  
              @media (max-width: 768.98px) {
                padding-top: 62rem;
              }
  
              @media (max-width: 575.98px) {
                padding-top: 77rem;
              }
  
  
                .mrf_logo {
                  @media (max-width: 575.98px)  {
                    width: 150px;
                  }
                  img {
                    @media (max-width: 575.98px) {
                      width: 100%;
                    }
                  }
                }
                h2 {
                  color: #FFF;
                  font-size: 60px;
                  font-weight: 700;
                  line-height: normal;
                  margin-top: 34px;
                  @media (max-width: 991.98px)  {
                    font-size: 40px;
                  }
                  @media (max-width: 575.98px) {
                    font-size: 25px;
                  }
                }
                .know_moreBtn {
                  height: 60px;
                  max-width: 222px;
                  width: 100%;
                  margin-top: 14px;
                  @media (max-width: 991.98px)  {
                    max-width: 180px;
                    height: 50px;
                  }
                  button {
                    color: #FFF;
                    font-size: 20px;
                    width: 100%;
                    border: none;
                    font-weight: 700;
                    line-height: 25px; 
                    border-radius: 8px;
                    height: 60px;
                    background: #C13128;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    @media (max-width: 991.98px)  {
                      height: 50px;
                    }
                  }
                }
              }
            }

    
          }

         
        }
        // .experice_ulParent{
  
        // }
  
      }
  
          @media (max-width: 991.98px)  {
                .swiper-button-prev {
        display: none;
  
        
      }
  
      .swiper-button-next {
        display: none;
      }
          }
  
  
  
  
      .swiper-button-prev:after {
        color: white;
        font-size: 25px;
  
        
      }
  
      .swiper-button-next:after {
        color: white;
        font-size: 25px;
      }


  }

  .recomended_tyres_section {
    padding: 80px 0;


    @media (max-width: 991.98px) {
      padding: 40px 0;
    }

    h1 {
      color: #021639;
      font-size: 40px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 20px;
      text-align: center;

      span {
        color: #30D094;
      }
    }


    .recomended_tyres {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 20px;
        @media (max-width: 991.98px) {
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }
        li {
            width: calc(100% / 3 - 20px);
            border-radius: 0px 0px 8px 8px;
            background: #FFF;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);

            @media (max-width: 991.98px)  {
                width: 100%;
            }

            @media (max-width: 778.98px) {
                width: 100%;
            }

            .recomended_box_head {
                height: 50px;
                border-radius: 8px 8px 0px 0px;
                background: #6560FF;
                color: #FFF;
                font-size: 20px;
                font-weight: 600;
                line-height: normal;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                &.popular_tyre {
                    background: #BE3EFF;
                }
                &.budget_tyre {
                    background: #FF6B2C;
                }

                @media (max-width: 1199.98px)  {
                    font-size: 16px;
                }
            }
            .recommended_body {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 22px;
                padding: 14px;
                @media (max-width: 1199.98px)  {
                  flex-direction: column;
                }

                @media (max-width: 568.98px) {
                  flex-direction: column;
                }

                .tyre {
                    .tyre_brand {
                        img {
                            max-width: 142px;
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                    .tyre_img {
                        margin-top: 10px;
                        img {
                          width: 100px;
                          object-fit: contain;
                          height: 150px;
                            transition: 0.3s ease;
                        }
                    }
                }
                .about_tyre {
                  @media (max-width: 1199.98px)  {
                    max-width: 100%;
                  }
                    h2 {
                        color: #000;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: normal;

                        @media (max-width: 1199.98px)  {
                            font-size: 16px;
                        }
                    }
                    h3 {
                        color: #000;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: normal;

                        span {
                            font-size: 30px;

                            @media (max-width: 1199.98px)  {
                                font-size: 15px;
                            }
                        }
                    }
                    .specs {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50px;
                        margin-top: 20px;
                        background: #FFF;
                        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
                        padding: 7.5px 10px;
                        gap: 7px;
                        max-width: fit-content;

                        li {
                            // width: calc(100% / 3 - 10px);
                            display: flex;
                            width: 100% !important;
                            gap: 2px;
                            align-items: center;
                            padding: 4px 10px;
                            border-radius: 20px;

                            

                            img {
                              width: 24px;
                              height: 24px;
                              object-fit: contain;
                             }
                             span {
                               color: #FFF;
                               font-size: 16px;
                               font-weight: 500;
                               line-height: normal;
                             }
                        }
                    }
                }
            }
            .quntity_select {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 20px;
                width: 100%;
                margin-top: 20px;
                padding: 14px;

                button {
                    width: 50%;
                    border-radius: 8px;
                    background: #30D094;
                    height: 46px;
                    padding: 10px;
                    color: #FFF;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25px; 
                    border: none;
                }
                .nice-select {
                    width: 50%;

                    .list {
                        width: 100%;
                        .option {
                          width: 100% !important;
                          box-shadow: none !important;
                        }
                    }
                }
            }
        }
    }

  }
  .filter_web {
    .filter_parent {
        display: flex;
        justify-content: start;
        gap: 18px;

        @media (max-width: 778.98px) {
            flex-direction: column;
        }
       
        .filter_sidebar {
            max-width: 320px;
            width: 100%;
            @media (max-width: 778.98px) {
                height: 100%;
                max-width: 100%;
            }

       

            .mobile_filter {
              display: none;
              @media (max-width: 778.98px) {
                display: flex;
                justify-content: end;
                gap: 20px;
                align-items: center;
              }
              h6 {
                color: #000;
                font-size: 25px;
                font-weight: 700;
                line-height: normal;
            }
            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
            }

            .filter_head {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 16px;

                @media (max-width: 778.98px)  {
                  display: none;
                }

                h6 {
                    color: #000;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: normal;
                }
                img {
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                }
            }
            .filter_box {
                padding: 14px;
                border-radius: 8px;
                border: 0.5px solid #B0B0B0;
                background: #FFF;
                margin-top: 20px;

                .close_btnmob {
                  padding-bottom: 20px;
                  text-align: end;
                  padding-right: 20px;
                  display: none;
                  @media (max-width: 778.98px) {
                    display: block;
                  }
                  img {
                    width: 15px;
                    height: 15px;
                    object-fit: contain;
                  }
                }


                @media (max-width: 778.98px) {
                    position: fixed;
                    top: 0;
                    padding-top: 30px;
                    left: -100%;
                }

                &.filter_boxshow {
                    @media (max-width: 778.98px) {
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 9;
                        margin: 0;
                    }
                }

                .accordion{

                    @media (max-width: 778.98px) {
                        height: 100vh;
                    overflow-y: auto;
                    padding-bottom: 40px;
                    }

                    
                    .accordion-item{
                        border-radius: 8px;
                        border: 0.5px solid #B0B0B0;
                        background: #FFF;
                        padding: 10px;
                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }
                        .accordion-header {
                            .accordion-button {
                                color: #000;
                                font-size: 16px;
                                font-weight: 500;
                                box-shadow: none;
                                border: none;
                                outline: none;
                                line-height: 25px; /* 156.25% */

                                &:focus-visible {
                                    box-shadow: none;
                                    border: none;
                                    outline: none;
                                }
                                &:focus{
                                    box-shadow: none;
                                    border: none;
                                    outline: none;
                                }
                                &:after {
                                    background-size: unset;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                        .accordion-body {
                            .item_select {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 10px;
                                h6 {
                                    color: #B0B0B0;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 25px; /* 178.571% */

                                    span {
                                        color: #000;
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 25px;
                                    }
                                }
                                input {
                                    accent-color: black;
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    }
                }
            }

        }

        .filter_items {
            width: calc(100% - 338px);
            @media (max-width: 778.98px){
                width: 100%;
            }
           .filter_item_ul {
            display: flex;
            align-items: center;
            gap: 14px;
            flex-wrap: wrap;
            @media (max-width: 778.98px)  {
              // justify-content: space-between;
            }
            li {
                width: calc(100% / 3 - 14px  );
                position: relative;
                border-radius: 8px;
                background: #FFF;
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
                margin-bottom: 50px;
                transition: 0.3s ease;

                @media (max-width: 1199.98px)  {
                    width: calc(100% / 2 - 14px  );
                }

                @media (max-width: 991.98px)  {
                    width: 100%;
                }

                @media (max-width: 778.98px) {
                    width: calc(100% / 2 - 14px  );
                }

                @media (max-width: 568.98px)  {
                    width: 100%;
                }

                &:hover {
                    img {
                      -webkit-transform: scale(1);
                      transform: scale(1.1);
                      -webkit-transition: 0.3s ease;
                      transition: 0.3s ease;
                    }
                  
                }

                .recommended_body {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-direction: column;
                    gap: 22px;
                    padding: 14px;

                    @media (max-width: 1199.98px)  {
                      flex-direction: column;
                    }

                
    
                    .tyre {
                        .tyre_brand {
                            img {
                                max-width: 142px;
                                width: 100%;
                                object-fit: contain;
                                transition: 0.3s ease;
                                transform: scale(.8);
                            }
                        }
                        .tyre_img {
                            margin-top: 10px;
                            img {
                              max-width: 132px;
                              width: unset !important;
                              object-fit: cover;
                              height: 180px;
                                transition: 0.3s ease;
                            }
                        }
                    }
                    .about_tyre {
                      max-width: 220px;
                      width: 100%;

                      @media (max-width: 1199.98px) {
                        max-width: 100% !important;
                      }

                        h2 {
                            color: #000;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: normal;
    
                            @media (max-width: 1199.98px)  {
                                font-size: 16px;
                            }
                        }
                        h3 {
                            color: #000;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: normal;
    
                            span {
                                font-size: 16px;
    
                                @media (max-width: 1199.98px)  {
                                    font-size: 15px;
                                }
                            }
                        }
                        .specs {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50px;
                            // background: #FFF;
                            // box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
                            // padding: 7.5px 10px;
                            gap: 10px;
                            position: absolute;
                            margin: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
                            padding: 7.5px 10px;
                            background: white;
    
                            li {
                              width: calc(100% / 3 - 10px);
                              display: flex;
                              gap: 2px;
                              align-items: center;
                              padding: 4px 15px;
                              border-radius: 20px;
                              margin: 0;
  
                              
  
                              img {
                                width: 24px;
                                height: 24px;
                                object-fit: contain;
                               }
                               span {
                                 color: #FFF;
                                 font-size: 16px;
                                 font-weight: 500;
                                 line-height: normal;
                               }
                          }
                        }
                    }
                }
            }
           }
        }

    }
}

.productList_pagination {
    margin-top: 4rem;
    margin-bottom: 110px;
    .pagination {
        justify-content: center;
        gap: 8px;
  
        .page-item {
            a {
                width: 3.2rem;
                height: 3.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: rgba(183, 183, 183, 0.20);
                color: #30D094;
                border: 1px solid #30D094;
                text-align: center;
                font-size: 1.4rem;
                font-weight: $semibold;
                line-height: 2rem; 
                border: none;
  
                &:focus {
                    box-shadow: none;
                }
  
                &.active {
                    background: #30D094;
                    color: $white;
                }
                &.pagination_prev {
                    border-radius: 50%;
                    border: 1px solid #30D094;
                    opacity: 0.5;
  
                    span {
                        background-repeat: no-repeat;
                        width: 12px;
                        background-position: center;
                        height: 12px;
                        background-image: url(../images/pagination_right.svg);
                    }
  
                }
                &.pagination_next {
                    border-radius: 50%;
                    border: 1px solid #30D094   ;
                    opacity: 0.5;
  
                    span {
                        width: 12px;
                        background-position: center;
                        height: 12px;
                        background-repeat: no-repeat;
                        background-image: url(../images/pagination_left.svg);
                    }
  
                }
  
            }
        }
    }
  }
}



main .banner_section .container .bannerslide_parent .banner_filterBox .tyre_sizes .nice-select .list {
    width: 100%;
    height: 210px;
    overflow-y: auto;
}

main .filter_web .filter_parent .filter_items .filter_item_ul li .recommended_body .about_tyre .specs li {
    width: fit-content !important;
}


main .recomended_tyres .recomended_tyres li .recommended_body .about_tyre .specs li {
    width: fit-content !important;
}

main .filter_web .filter_parent .filter_items .filter_item_ul li .recommended_body .about_tyre .specs li {
  width: fit-content !important;
}


.swiper_brandsparentt {
  position: relative;

  .swiper-button-next, .swiper-button-prev {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border: 1px solid #FFF;
    background: #30D094;
    @media (max-width: 767.98px) {
      display: none;
    }
  }

  .swiper-button-next {
    right: -40px;
    @media (max-width: 767.98px)  {
      right: 0;
    }
  }
  .swiper-button-prev  {
    left: -40px;
    @media (max-width: 767.98px)  {
      right: 0;
    }
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px;
    color: white;
  }
  
  .swiper-button-next:after, .swiper-button-prev {
    @media (max-width: 575.98px)  {
      display: none;
    }
  }
}


.body_disable {
    overflow: hidden;
}

.fuel {
  background-color: #ea1303 !important ;
}
.rain {
  background-color: #ded53a !important;
}
.speaker {
  background-color: #676767 !important;
}

.listing_popup {
  .modal-content {
    border-radius: 10px 10px 0px 0px !important;
    .modal-header {
      border-radius: 10px 10px 0px 0px;
      background: #021639;
      padding: 14px 20px;

      h1 {
        @media (max-width: 767.98px) {
          width: 70%;
        }
      }

      .btn-close{
        background: url(../images/icons/popclose.svg) !important;

        @media (max-width: 767.98px) {
          width: 2em;
          height: 2em;
        }
      }
  
      h1 {
        color: #FFF;
      }
    }
    .modal-body {
      padding: 20px;
      .pop_card {
        border-radius: 10px;
border: 0.5px solid #B0B0B0;
padding: 20px;

@media (max-width: 575.98px)  {
  padding: 10px;
}

&:not(:first-child) {
  margin-top: 14px;
}

.tyre_detailParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 575.98px)  {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
  }
  .recommended_body {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;
    padding: 14px;

    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: start;
    }

    @media (max-width: 575.98px)  {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: start;
    }




    .tyre {
       
        .tyre_img {
            margin-top: 10px;
            img {
                max-width: 132px;
                width: 100%;
                height: 150px;
                object-fit: contain;
            }
        }
    }
    .about_tyre {
      .tyre_brand {
        img {
            max-width: 142px;
            width: 100%;
            height: 33px;
            object-fit: contain;
        }
    }
        h2 {
            color: #000;
            font-size: 22px;
            font-weight: 600;
            line-height: normal;

            @media (max-width: 1199.98px)  {
                font-size: 16px;
            }
        }
        h3 {
            color: #000;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;

            span {
                font-size: 30px;

                @media (max-width: 1199.98px)  {
                    font-size: 15px;
                }
            }
        }
        .specs {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            margin-top: 20px;
            background: #FFF;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
            padding: 7.5px 10px;
            gap: 10px;
            // max-width: 220px;
            width: 100%;


            li {
                // width: calc(100% / 3 - 10px);
                display: flex;
                width: 100% !important;
                gap: 2px;
                align-items: center;
                padding: 4px 15px;
                border-radius: 20px;
                justify-content: center;
                width: 100% !important;

                

                img {
                  width: 24px;
                  height: 24px;
                  object-fit: contain;
                 }
                 span {
                   color: #FFF;
                   font-size: 16px;
                   font-weight: 500;
                   line-height: normal;
                 }
            }
        }
    }
}

.price_details {
  .closebtn {
    display: flex;
    justify-content: end;
  }
  h3 {
    margin: 15px 0;
    color: #000;
    font-size: 30px;
    font-weight: 700;
  }
  .quntity_select {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;

    .nice-select {
        width: 100%;

        .list {
            width: 100%;
        }
    }
}
}



}
      }

    }
    .modal-footer {
      padding: 10px 20px 26px 20px;
      border-top: none !important;
      .search_fields {
        display: flex;
        gap: 20px;
        align-items: center;
        width: 100%;

        @media (max-width: 767.98px)   {
          flex-direction: column;
        }

        @media (max-width: 575.98px) {
            flex-direction: column;
        }

        .input_parent {
          width: 70%;
            @media (max-width: 575.98px) {
                width: 100%;
            }

            input {
                padding: 10px 20px;
                border-radius: 5px;
                border: 0.5px solid #B0B0B0;
                color: #B0B0B0;
                font-size: 18px;
                font-weight: 400;
                width: 100%;
                line-height: normal;
                height: 50px;
                display: flex;
                align-items: center;
            }
        }
        .go {
            border-radius: 5px;
            background: #30D094;
            height: 50px;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            color: #FFF;
            font-size: 20px;
            font-weight: 400; 
            border: none;
            line-height: normal;

            @media (max-width: 767.98px)  {
              width: 40%;
            }

            @media (max-width: 575.98px) {
                width: 100%;
            }
        }
    }
    }
  }
}

@media (min-width: 576px)
{
  .modal-dialog {
    max-width: 1068px;

}
}


