
    .register_page {
        padding: 95px 0;

        .banner_filterBox_latest {
            border-radius: 16px;
            position: absolute;
            z-index: 9;
            top: 50%;
            transform: translateY(-50%);
            left: 3%;
            max-width: 663px;
            width: 100%;
            padding: 24px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
            @media (min-width: 1399.98px)  {
              left: 8% !important;
            
            }
  
            @media (max-width: 1199.98px) {
              top: 3rem;
              transform: unset;
              max-width: 515px;
            }
            @media (max-width: 768.98px)  {
              left: 0;
            }
            h2 {
                font-size: 36px;
                font-weight: 600;
                color: white;
                text-transform: uppercase;
            }

            .banner_tabs {
                margin-top: 24px;

                .nav-tabs{
                    border-bottom: none !important;
                    .nav-item {
                       
                       button {
                        border-radius: 8px 8px 0 0;
                        padding: 10px;
                        border: 1px solid #B0B0B0;
                        background-color: transparent;
                        box-shadow: 0px 4px 10px 0px #00000040;
                        font-size: 14px;
                        font-weight: 600;
                        color: white;

                        &.active {
                            background-color: #30D094;
                        }
                       }
                    }
                }

                .tab-content{
                    .tab-pane{
                        .tab_contentsBox {
                            padding: 15px;
                            border-radius: 0 8px 8px 8px;
                            background-color: rgba(255, 255, 255 , .2);

                    .reg_yellowWrapper {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        .reg_box {
                            border-radius: 8px;
                            border: 2px solid #000;
                            height: 60px;
                            background: #FFCD02;
                            max-width: 353px;
                            width: 100%;
                            display: flex;
                            gap: 12px;
              
                            @media (max-width: 575.98px) {
                              max-width: 100%;
                            }
              
                            .gb_blueBox {
                              display: flex;
                              width: 18px;
                              padding: 7.5px 2px 5.5px 3px;
                              flex-direction: column;
                              justify-content: center;
                              align-items: flex-start;
                              gap: 6px;
                              border-radius: 6px 0px 0px 6px;
                              background: #2655DA;
                              .round_gb {
                                h6 {
                                  color: #FFF;
                                  font-size: 9px;
                                  font-weight: 700;
                                  line-height: 25px;
                                  margin-top: 6px;
                                }
                              }
                            }
                            input {
                              background-color: transparent;
                              width: 100%;
                              border: none;
                              color: #000;
                              font-size: 18px;
                              font-weight: 700;
                              line-height: 25px; 
                              outline: none;
              
                              &::placeholder {  
                                color: #000;
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 25px; 
                              }
                            }
                          }
                          .fully_fittedchoose {
                            width: 100%;
                            display: flex;
                            justify-content: start;

                            .fullyfit_select {
                                display: flex;
                                justify-content: start;
                                padding: 15px;
                                background-color: white;
                                font-size: 14px;
                                font-weight: 600;
                                display: flex;
                                gap: 6px;
                                align-items: center;
                                color: #30D094;

                            }

                          }
                    }    

                    .fully_fitwrapper {
                        display: flex;
                        justify-content: start;

                        .fully_fittedchoose {
                            width: 100%;
                            display: flex;
                            justify-content: start;

                            .fullyfit_select {
                                display: flex;
                                justify-content: start;
                                padding: 15px;
                                background-color: white;
                                font-size: 14px;
                                font-weight: 600;
                                display: flex;
                                gap: 6px;
                                align-items: center;
                                color: #30D094;

                            }

                          }
                          .reg_searchBtn {
                            max-width: 225px;
                            width: 100%;
              
                            @media (max-width: 575.98px) {
                              max-width: 100%;
                            }
              
                            button {
                              color: #FFF;
                              font-size: 20px;
                              font-weight: 700;
                              line-height: 25px; 
                              border-radius: 8px;
                              padding: 15px;
                              height: 60px;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              background-color: $secondary;
                              border-radius: 8px;
                              border: none;
                              width: 100%;
                              @media (max-width: 575.98px) {
                                font-size: 16px;
                              }
                            }
                          }
                    }
                    
                    .reg_searchBtn {
                        max-width: 100%;
                        width: 100%;
                        margin-top: 10px;
          
                        @media (max-width: 575.98px) {
                          max-width: 100%;
                        }
          
                        button {
                          color: #FFF;
                          font-size: 20px;
                          font-weight: 700;
                          line-height: 25px; 
                          border-radius: 8px;
                          padding: 15px;
                          height: 60px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          background-color: $secondary;
                          border-radius: 8px;
                          border: none;
                          width: 100%;
                          @media (max-width: 575.98px) {
                            font-size: 16px;
                          }
                        }
                      }
         
                        }
                        .tyre_sizes {
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            margin-top: 19px;
                
                            @media (max-width: 991.98px) {
                              flex-wrap: wrap;
                            }
                
                            .nice-select {
                              width: calc(100% / 4 - 5px);
                              border-radius: 8px;
                              border: 0.5px solid #B0B0B0;
                              background: #FFF;
                              height: 60px;
                              display: flex;
                              align-items: center;
                              padding-left: 10px;
                
                              @media (max-width: 991.98px)  {
                                width: calc(100% / 2 - 18px);
                              }
                
                              @media (max-width: 575.98px)  {
                                height: 40px;
                              }
                
                              .list {
                                width: 100%;
                                height: 210px;
                                overflow-y: auto;
                              }
                
                              .current {
                                color: #000;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 25px; 
                
                                @media (max-width: 575.98px)  {
                                  font-size: 14px;
                                }
                              }
                              &:after {
                                border-bottom: 2px solid #000;
                                border-right: 2px solid #000;
                                width: 9px;
                                height: 9px;
                                margin-top: -6px;
                              }
                            }
                          }
                    }
                }

            }

        }

        .registerform {

            max-width: 1080px;
            width: 100%;
            margin: auto;

            h2 {
                color: #021639;
                font-size: 40px;
                line-height: 50px;
                font-weight: 600;
                text-align: center;
                margin-top: 60px;
                position: relative;

                
                &:before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    background-color: #30D094;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100px;
                    height: 6px;
                }
            }

            p {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                color: #B0B0B0;
                margin-top: 5px;
                text-align: center;
            }


            .registerbox {
                border: 1px solid #B0B0B0;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0px 4px 30px 0px #00000029;
                position: relative;
                padding: 25px;
                margin-top: 64px;
                .logo {
                    padding: 10px;
                    border-bottom: 1px solid #B0B0B0;
                    display: flex;
                    justify-content: center;
    
                    img {
                        max-width: 334px;
                        width: 100%;
                        margin: auto;
                    }
                }

                .register_companybox {
                    max-width: 655px;
                    width: 100%;
                    margin: auto;
                }

               

                
                .tyre {
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    @media (max-width: 1200.98px) {
                        display: none;
                    }
                }
    
                .regiter_contents {
                    padding: 47px 20px;
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-size: 30px;
                        line-height: 40px;
                        font-weight: 600;
                        color: #021639;
                        text-align: center;
                    }
                    p {
                        font-size: 14px;
                        line-height: 21px;
                        color: #000000;
                        font-weight: 400;
                        text-align: center;
                        margin: auto;
                        margin-top: 8px;
                        max-width: 700px;
                        
                    }

    
                    button {
                        background-color: #30D094;
                        color: white;
                        padding: 10px;
                        max-width: 615px;
                        width: 100%;
                        box-shadow: 0px 4px 10px 0px #00000040;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 30px;
                        margin: auto;
                        margin-top: 35px;
                        
                        border: none;
                    }
                }

                .company_name {
                    display: flex;
                    gap: 17px;
                    align-items: center;

                    h6 {
                        font-size: 24px;
                        font-weight: 600;
                        color: #021639;
                    }

                    h3 {
                        font-weight: 600;
                        font-size: 64px;
                        color: #30D094;
                    }

                }

                .input_field {
                    margin-top: 17px;
                    input {
                        border: 1px solid #B0B0B0;
                        height: 60px;
                        max-width: 65.5rem;
                        width: 100%;
                        font-weight: 400;
                        font-size: 14px;
                        padding: 15px;
                    }
                }

                h4 {
                    font-size: 30px;
                    font-weight: 600;
                    color: #30D094;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    color: black;
                    margin-top: 4px;
                }

                .button_wrapper {
                    display: flex;
                    justify-content: end;
                    margin-top: 3rem;
                    gap: 20px;
                    .back_btn {
                        border: 1px solid #30D094;
                        border-radius: 10px;
                        font-size: 20px;
                        line-height: 30px;
                        font-weight: 500;
                        max-width: 145px;
                        width: 100%;
                        height: 60px;
                        color: #30D094;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                    }
                    .next_btn{
                        background-color:#30D094 ;
                        border-radius: 10px;
                        font-size: 20px;
                        line-height: 30px;
                        font-weight: 500;
                        max-width: 145px;
                        width: 100%;
                        height: 60px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                    }
                }

                .final_stage {
                    max-width: 655px;
                    width: 100%;
                    margin: auto;

                    .success_img {
                        display: flex;
                        justify-content: center;
                    }

                    h4 {
                        text-align: center;
                        margin: 16px 0 6px 0;
                    }
                    .button_wrapper {
                        justify-content: center;

                        .back_btn {
                            background-color: white;
                        }
                    }
                }



            }

            

           

        }

    }

