.about_page {
    background-color: #F4F4F4;
    padding-top: 60px;
    .contact_details {
        display: flex;
        gap: 60px;
        justify-content: space-between;
        @include media-breakpoint-down(xl) {
            flex-direction: column;
        }
        .about_contents {
            max-width: 678px;
            width: 100%;
            h2 {
                color: #021639;
                font-size: 40px;
                font-weight: 600;
                line-height: normal;
                span {
                    color: #30D094;
                }
            }
            p {
                color: #B0B0B0;
                font-size: 20px;
                font-weight: 400;
                line-height: normal;
                margin-top: 10px;
            } 
        }
        .about_image{
            @include media-breakpoint-down(xl) {
                display: flex;
            justify-content: center;
            }

            img {
                @include media-breakpoint-down(md) {
                    max-width: 550px;
                    width: 100%;
                }
            }

           
            
        }
 
    }

    .outlets_countparent{
        background: #021639;
        .outlets_count {
            display: flex;
            justify-content: center;
            margin: 80px 0;
            align-items: center;
            gap: 5.9rem;
            padding-top: 6.3rem;
            padding-bottom: 6.3rem;
            flex-wrap: wrap;
          
      
            @include media-breakpoint-down(xl) {
              gap: 5rem;
              justify-content: space-between;
            }
            @include media-breakpoint-down(lg) {
              gap: 4rem;
              flex-wrap: wrap;
            }
      
            li {
              display: flex;
              justify-content: start;
              align-items: center;
              gap: 1.5rem;
              width: calc(100% / 4 - 5.9rem);
      
              @include media-breakpoint-down(xl) {
                width: calc(100% / 4 - 5rem);
              }
      
              @include media-breakpoint-down(lg) {
                width: calc(100% / 2 - 2rem);
                justify-content: center;
              }
      
      
              .outlet_units {
                @include media-breakpoint-down(lg) {
                  max-width: 10rem;
                  width: 100%;
                }
                .counter {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  width: 15rem;
      
                  @include media-breakpoint-down(xl) {
                    width: 11rem;
                  }
      
                  h4 {
                    color: #30D094;
                    font-size: 60px;
                    font-weight: 600;
                    line-height: normal;
      
                    @include media-breakpoint-down(xl) {
                      font-size: 34px;
                    }
                    @include media-breakpoint-down(sm) {
                      font-size: 26px;
                    } 
      
                  }
                  span {
                    color: #30D094;
                    font-size: 60px;
                    font-weight: 600;
                    line-height: normal;
      
                    @include media-breakpoint-down(xl) {
                        font-size: 34px;
                    }
                       @include media-breakpoint-down(sm) {
                      font-size: 26px;
                    } 
                  }
                }
                h5 {
                    color: #FFF;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: normal;
                    margin-top: 10px;
      
                  @include media-breakpoint-down(xl) {
                    font-size: 2rem;
                  }
      
                  @include media-breakpoint-down(sm) {
                    font-size: 18px;
                  }
                     @include media-breakpoint-down(sm) {
                      font-size: 20px;
                    } 
      
                }
              }
            }
          }
    }

    .vision_boxes {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 47px;
        margin: 80px 0;
        flex-wrap: wrap;
      

        li {
            width: calc(100% / 2 - 47px);
            padding: 20px;
            border-radius: 10px;
border: 0.5px solid #B0B0B0;
min-height: 300px;

@media (max-width: 991.98px)  {
    width: 100%;
}

            .vision_head {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 20px;

                img {
                    width: 60px;
                    height: 60px;
                    object-fit: contain;

                    @media (max-width: 1199.98px)  {
                        width: 40px;
                        height: 40px;
                    }
                }
                h2 {
                    color: #021639;
                    font-size: 44px;
                    font-weight: 600;
                    line-height: normal;

                    @media (max-width: 1199.98px)  {
                        font-size: 30px;
                    }
                }
            }

            .vision_para {
                margin-top: 14px;
                color: #B0B0B0;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
            }

        }
    }

    .why_choose_section {
        background: #F4F4F4;
        padding: 80px 0;
        h2 {
            color: #021639;
            font-size: 40px;
            font-weight: 600;
            line-height: normal;
            text-align: center;

            span {
                color: #30D094;
            }
        }
        .why_choose {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            margin-top: 40px;
            flex-wrap: wrap;
            @media (max-width: 1199.98px)  {
                gap: 15px;
            }
            li {
                width: calc(100% / 3 - 60px);
                padding: 30px;
                border-radius: 8px;
                background: #FFF;
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.16);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;



                @media (max-width: 1199.98px)  {
                    padding: 20px;
                    width: calc(100% / 3 - 15px);
                }

                @media (max-width: 991.98px)  {
                    width: 100%;
                }

                img {
                    width: 80px;
                    height: 80px;
                    object-fit: contain;
                }
                span {
                    color: #000;
                    font-size: 26px;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
    }

    .our_history_section {
        padding: 80px 0;

        h2 {
            color: #021639;
            font-size: 40px;
            font-weight: 600;
            line-height: normal;

            span {
                color: #30D094;
            }
        }
        p {
            color: #B0B0B0;
            font-size: 16px;
            margin-top: 14px;
            font-weight: 400;
            line-height: normal;
        }
    }

    .testimonials_slider {
        padding-bottom: 80px;
        h2 {
            
                color: #30D094;
                font-size: 40px;
                font-weight: 600;
                line-height: normal;
                text-align: center;
    
            
        }
        .testimonialswiper {
            padding-top: 93px;
            padding-bottom: 60px;
            // .swiper-wrapper {
            //     align-items: center !important;
            //    .swiper-slide {
            //     transition: .3s ease;
            //    }
            //    .swiper-slide-active  {
            //     transition: .3s ease;
            //    }
            // }
            // .swiper-slide.swiper-slide-active {
            //      .testimonial_box {
            //         padding: 74px 22px !important;
            //         transition: .3s ease;
            //     }
               
            // }
            .testimonial_box{
                padding: 60px 22px;
                border-radius: 0px 0px 8px 8px;
                background: #FFF;
                transition: .3s ease;
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
                position: relative;

                .fixed_profileimg {
                    position: absolute;
                    top: -60px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                h4 {
                    color: #000;
                    text-align: center;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: normal;
                }
                p {
                    color: #B0B0B0;
                    text-align: center;
                    font-size: 16px;
                    margin-top: 8px;
                    font-weight: 500;
                    line-height: 25px; /* 156.25% */
                }
            }
            #testimonial_dots {
                transition: .4s ease;
               
                .swiper-pagination-bullet {
                    border: 1px solid #30D094;
                    width: 10px !important;
                    background-color: transparent;
                    height: 10px !important  ;
                    transition: .4s ease;
                }
                .swiper-pagination-bullet-active {
                    border-radius: 10px;
                    background: #30D094 !important;
                    height: 10px !important;
                    width: 40px !important ;
                    transition: .4s ease;
                }
            }
        }
    }

   













    .contactwith_us{
        margin-top: 88px;
        padding: 22.5px;
        background: #F4F4F4;
        h4 {
            color: #30D094;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            line-height: normal;
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            gap: 14px;
            li {
                a {
                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}